# Movie Database

In [13]:
import pandas as pd
import numpy as np
import psycopg2 as ps # postgresql database connection
import os # for environment variables
from sqlalchemy import create_engine # for pandas and postgresql connection

In [14]:
! pwd
! ls ../CSV

/Users/carterthurman/Documents/GitHub/Movie_DB/Notebooks
final_movies.csv movies.csv

## Reading Data

In [15]:
# creating paths and dest file paths 
path = '../CSV/movies.csv'
dest = '../CSV/final_movies.csv'

In [16]:
# reading file to dataframe
df = pd.read_csv(path, index_col=0)
df

,Movie_Title,Year,Genres,Ratings,Tagline,Stars,Votes,Runtime,Gross
0,Blood Red Sky,(2021),"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri B...,21062.0,121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michel...",17870.0,25.0,NaN
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman R...",885805.0,44.0,NaN
3,Rick and Morty,(2013– ),"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Pa...",414849.0,23.0,NaN
4,Army of Thieves,(2021),"Action, Crime, Horror",NaN,"A prequel, set before the events of Army of th...",Director:Matthias Schweighöfer| Stars:...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),"Adventure, Drama, Fantasy",NaN,Add a Plot,"Stars:Morgan Taylor Campbell, ...",NaN,NaN,NaN
9995,Arcane,(2021– ),"Animation, Action, Adventure",NaN,Add a Plot,NaN,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"Documentary, Sport",NaN,Add a Plot,Director:Orlando von Einsiedel| Star:P...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"Adventure, Drama, Fantasy",NaN,Add a Plot,Director:Jovanka Vuckovic| Stars:Morga...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"Adventure, Drama, Fantasy",NaN,Add a Plot,Director:Jovanka Vuckovic| Stars:Morga...,NaN,NaN,NaN

In [17]:
# change column names
df.rename(columns=
                     {'MOVIES': 'Movie_Title'
                        ,'YEAR': 'Year'
                        ,'GENRE': 'Genres'
                        ,'RATING': 'Ratings'
                        ,'ONE-LINE': 'Tagline'
                        ,'STARS': 'Stars'
                        ,'VOTES': 'Votes'
                        ,'RunTime': 'Runtime'}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie_Title  9999 non-null   object
 1   Year         9355 non-null   object
 2   Genres       9919 non-null   object
 3   Ratings      8179 non-null   float64
 4   Tagline      9999 non-null   object
 5   Stars        9543 non-null   object
 6   Votes        8179 non-null   float64
 7   Runtime      7041 non-null   float64
 8   Gross        460 non-null    float64
dtypes: float64(4), object(5)
memory usage: 781.2+ KB

## Data Cleaning

In [18]:
# for each column in df_mov, check if the column is an 'object' ('O') datatype, 
# and if so, replace '\n' (newline) with empty string ''

for column in df.columns:
    if df['{}'.format(column)].dtype == 'O':
        # formating column name into the dataframe search, searching for '\n' and replacing with empty string ''
        df['{}'.format(column)] = df['{}'.format(column)].str.replace('\n', '')

# changing columns to correct datatypes after replacing specific characters

#df['Votes'] = df['Votes'].str.replace(',','')
df['Votes'] = df['Votes'].astype('float64')
#df['Gross'] = df['Gross'].str.replace('$','').str.replace('M', '')
df['Gross'] = df['Gross'].astype('float64')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie_Title  9999 non-null   object
 1   Year         9355 non-null   object
 2   Genres       9919 non-null   object
 3   Ratings      8179 non-null   float64
 4   Tagline      9999 non-null   object
 5   Stars        9543 non-null   object
 6   Votes        8179 non-null   float64
 7   Runtime      7041 non-null   float64
 8   Gross        460 non-null    float64
dtypes: float64(4), object(5)
memory usage: 781.2+ KB

In [20]:
# cleaning up

# Grabs the first Genre and puts it into a new column based on ','
df['Main_Genre'] = df['Genres'].str.split(',', expand=True)[0]

# grabs first four digits (the year made) and puts it into a new column
df['Main_Year'] = df['Year'].str.extract(r'(\d{4})', expand=True)

# changing year to Int64 type for better aggregation
df['Main_Year'] = df['Main_Year'].astype('Int64')

# replacing 0 with np.nan to get better results
df['Gross'] = df['Gross'].replace(0, np.nan)

# Reorganizing columns
df = df[['Movie_Title', 'Main_Year', 'Main_Genre', 'Ratings', 'Tagline', 'Stars', 'Votes', 'Runtime', 'Gross', 'Genres', 'Year']]
df.rename(columns={'Year': 'Year_Range'}, inplace=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9999 entries, 0 to 9998
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie_Title  9999 non-null   object
 1   Main_Year    9251 non-null   Int64
 2   Main_Genre   9919 non-null   object
 3   Ratings      8179 non-null   float64
 4   Tagline      9999 non-null   object
 5   Stars        9543 non-null   object
 6   Votes        8179 non-null   float64
 7   Runtime      7041 non-null   float64
 8   Gross        445 non-null    float64
 9   Genres       9919 non-null   object
 10  Year_Range   9355 non-null   object
dtypes: Int64(1), float64(4), object(6)
memory usage: 947.2+ KB

## Minor Data Searching

In [22]:
# finding top 100 movie title that contains regex string, and that DOES NOT (~) contain a specific string

df[df['Movie_Title'].str.contains(r'Avatar.*Airbend') & ~df['Tagline'].str.contains('Live')].head(100)

,Movie_Title,Main_Year,Main_Genre,Ratings,Tagline,Stars,Votes,Runtime,Gross,Genres,Year_Range
129,Avatar: The Last Airbender,2005,Animation,9.3,"In a war-torn world of elemental magic, a youn...","Stars:Dee Bradley Baker, Zach ...",265845.0,23.0,NaN,"Animation, Action, Adventure",(2005–2008)
6475,Avatar: The Last Airbender,2005,Animation,7.6,Sokka and Katara have to solve a centuries-old...,Director:Lauren MacMullan| Stars:Zach ...,2871.0,24.0,NaN,"Animation, Action, Adventure",(2005–2008)
6476,Avatar: The Last Airbender,2005,Animation,8.7,"After getting a house to stay in, Aang and com...",Director:Lauren MacMullan| Stars:Zach ...,2857.0,25.0,NaN,"Animation, Action, Adventure",(2005–2008)
6477,Avatar: The Last Airbender,2005,Animation,8.0,"In a nearby Earth Village, the gang meets a te...",Director:Dave Filoni| Stars:Zach Tyler...,3229.0,25.0,NaN,"Animation, Action, Adventure",(2005–2008)
6478,Avatar: The Last Airbender,2005,Animation,7.8,"Aang, Katara, and Sokka have their friendship ...",Director:Dave Filoni| Stars:Zach Tyler...,3164.0,25.0,NaN,"Animation, Action, Adventure",(2005–2008)
...,...,...,...,...,...,...,...,...,...,...,...
8506,Avatar: The Last Airbender,2005,Animation,8.7,"The gang, now hiding at Ember Island, watch a ...",Director:Giancarlo Volpe| Stars:Zach T...,3246.0,25.0,NaN,"Animation, Action, Adventure",(2005–2008)
8507,Avatar: The Last Airbender,2005,Animation,9.2,Sozin's Comet is only three days away. Zuko te...,Director:Ethan Spaulding| Stars:Zach T...,3465.0,92.0,NaN,"Animation, Action, Adventure",(2005–2008)
8508,Avatar: The Last Airbender,2005,Animation,9.5,Aang awakes on a mysterious island and confron...,Director:Giancarlo Volpe| Stars:Zach T...,3845.0,92.0,NaN,"Animation, Action, Adventure",(2005–2008)
8509,Avatar: The Last Airbender,2005,Animation,9.8,Zuko battles his sister with Katara's help for...,Director:Joaquim Dos Santos| Stars:Zac...,5283.0,92.0,NaN,"Animation, Action, Adventure",(2005–2008)
8510,Avatar: The Last Airbender,2005,Animation,9.9,Aang's moment of truth arrives. Can he defeat ...,Director:Joaquim Dos Santos| Stars:Zac...,8813.0,92.0,NaN,"Animation, Action, Adventure",(2005–2008)

In [23]:
# finding unique values (won't print out, long list)
df['Gross'].unique()

# finding NA values sum, and count of non NA values
df['Gross'].isna().sum(), df['Gross'].count()

(9554, 445)

In [24]:
# grabbing median for one column (some scewed results)
df['Gross'].median(skipna=True)

8.55

In [25]:
# temp dropping na values, grabbing Movie Title and Gross columns, sorting by Gross and Ascending
df[['Movie_Title', 'Gross']].dropna().sort_values(by='Gross', ascending=True)

                         Movie_Title   Gross
512            The Clovehitch Killer    0.01
6056                  Theo Who Lived    0.01
1216                       Honeymoon    0.01
4196             The Sunshine Makers    0.01
1317                     Duck Butter    0.01
...                              ...     ...
196                       Spider-Man  403.71
144   Jumanji: Welcome to the Jungle  404.52
226       Captain America: Civil War  408.08
578                     Finding Dory  486.30
329             Beauty and the Beast  504.01

[445 rows x 2 columns]

## To CSV

In [26]:
# making csv file "final_movies.csv"
df.to_csv(dest)
! ls CSV

ls: CSV: No such file or directory

## Getting data into PostgreSQL

In [33]:
# gathering environmental variable for the postgres db password
SQL_DB_KEY = os.environ.get('SQL_DB_KEY')
# gathering user environmental variable for postgres user id
ENV_USER = os.environ.get('USER')

In [ ]:
# creating sqlachemy engine to read data from postgresql
engine = create_engine(f'postgresql+psycopg2://postgres:{SQL_DB_KEY}@localhost/{ENV_USER}')
engine

In [36]:
# 'append, replace, fail' arguments.
# index = False is 
df.to_sql('movie_table', engine, if_exists='replace', index=False)

999

## Putting data into PostgreSQL via chunks 
Alternate way, for bigger datasets

for chunk in pd.read_csv(dest, index_col=0, chunksize=1000): 
    chunk.to_sql('movie_table', engine, if_exists="replace")

## Reading Data from PostgreSQL

In [37]:
sql_df = pd.read_sql_query('SELECT * from public."movie_table"', engine)

In [38]:
sql_df

,Movie_Title,Main_Year,Main_Genre,Ratings,Tagline,Stars,Votes,Runtime,Gross,Genres,Year_Range
0,Blood Red Sky,2021.0,Action,6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri B...,21062.0,121.0,NaN,"Action, Horror, Thriller",(2021)
1,Masters of the Universe: Revelation,2021.0,Animation,5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michel...",17870.0,25.0,NaN,"Animation, Action, Adventure",(2021– )
2,The Walking Dead,2010.0,Drama,8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman R...",885805.0,44.0,NaN,"Drama, Horror, Thriller",(2010–2022)
3,Rick and Morty,2013.0,Animation,9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Pa...",414849.0,23.0,NaN,"Animation, Adventure, Comedy",(2013– )
4,Army of Thieves,2021.0,Action,NaN,"A prequel, set before the events of Army of th...",Director:Matthias Schweighöfer| Stars:...,NaN,NaN,NaN,"Action, Crime, Horror",(2021)
...,...,...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,2021.0,Adventure,NaN,Add a Plot,"Stars:Morgan Taylor Campbell, ...",NaN,NaN,NaN,"Adventure, Drama, Fantasy",(2021– )
9995,Arcane,2021.0,Animation,NaN,Add a Plot,None,NaN,NaN,NaN,"Animation, Action, Adventure",(2021– )
9996,Heart of Invictus,2022.0,Documentary,NaN,Add a Plot,Director:Orlando von Einsiedel| Star:P...,NaN,NaN,NaN,"Documentary, Sport",(2022– )
9997,The Imperfects,2021.0,Adventure,NaN,Add a Plot,Director:Jovanka Vuckovic| Stars:Morga...,NaN,NaN,NaN,"Adventure, Drama, Fantasy",(2021– )
9998,The Imperfects,2021.0,Adventure,NaN,Add a Plot,Director:Jovanka Vuckovic| Stars:Morga...,NaN,NaN,NaN,"Adventure, Drama, Fantasy",(2021– )