In [ ]:
'''with open('../requirements.txt', 'w') as f:
    f.write('pandas == 2.1.3\nnumpy == 1.26.0\npsycopg2 == 2.9.3\nsqlalchemy == 2.0.23')'''

In [ ]:
# if necessary
#! pip install -r ../requirements.txt

<b> must run

In [1]:
import pandas as pd
import psycopg2 as ps # postgresql database connection
import os # for environment variables
from sqlalchemy import create_engine # for pandas and postgresql connection
import sqlalchemy
import requests # for API connection later
import json # for easier API data search later
import re # for searching text
import datetime # for gathering dates and times

In [2]:
! pwd
! ls ../CSV

/Users/carterthurman/Documents/GitHub/Movie_DB/Notebooks
final_movies.csv  movies.csv        trnd_movies.csv
movie_detail.csv  people_movies.csv up_movies.csv

# CSV Movie Database
Written and executed in a jupyter notebook

## Reading Data

In [ ]:
# reading file to dataframe
df = pd.read_csv(path, index_col=0)
df

In [ ]:
# change column names
df.rename(columns=
                     {'MOVIES': 'Movie_Title'
                        ,'YEAR': 'Year'
                        ,'GENRE': 'Genres'
                        ,'RATING': 'Ratings'
                        ,'ONE-LINE': 'Tagline'
                        ,'STARS': 'Stars'
                        ,'VOTES': 'Votes'
                        ,'RunTime': 'Runtime'}, inplace=True)
df.info()

## Data Cleaning

In [ ]:
# for each column in df_mov, check if the column is an 'object' ('O') datatype, 
# and if so, replace '\n' (newline) with empty string ''

for column in df.columns:
    if df['{}'.format(column)].dtype == 'O':
        # formating column name into the dataframe search, searching for '\n' and replacing with empty string ''
        df['{}'.format(column)] = df['{}'.format(column)].str.replace('\n', '')

# changing columns to correct datatypes after replacing specific characters

#df['Votes'] = df['Votes'].str.replace(',','')
df['Votes'] = df['Votes'].astype('float64')
#df['Gross'] = df['Gross'].str.replace('$','').str.replace('M', '')
df['Gross'] = df['Gross'].astype('float64')

In [ ]:
df.info()

In [ ]:
# cleaning up

# Grabs the first Genre and puts it into a new column based on ','
df['Main_Genre'] = df['Genres'].str.split(',', expand=True)[0]

# grabs first four digits (the year made) and puts it into a new column
df['Main_Year'] = df['Year'].str.extract(r'(\d{4})', expand=True)

# changing year to Int64 type for better aggregation
df['Main_Year'] = df['Main_Year'].astype('Int64')

# replacing 0 with np.nan to get better results
df['Gross'] = df['Gross'].replace(0, np.nan)

# Reorganizing columns
df = df[['Movie_Title', 'Main_Year', 'Main_Genre', 'Ratings', 'Tagline', 'Stars', 'Votes', 'Runtime', 'Gross', 'Genres', 'Year']]
df.rename(columns={'Year': 'Year_Range'}, inplace=True)

In [ ]:
df.info()

## Minor Data Searching

In [ ]:
# finding top 100 movie title that contains regex string, and that DOES NOT (~) contain a specific string
# in this case we are finding a movie/TV title that contains Avatar Airbend and NOT a tagline that contains 'Live'
# so finding animated series instead of Live series

df[df['Movie_Title'].str.contains(r'Avatar.*Airbend') & ~df['Tagline'].str.contains('Live')].head(100)

In [ ]:
# finding unique values (won't print out, long list)
df['Gross'].unique()

# finding NA values sum, and count of non NA values
df['Gross'].isna().sum(), df['Gross'].count()

In [ ]:
# grabbing median for one column (some scewed results) that aren't NA
df['Gross'].median(skipna=True)

In [ ]:
# temporary dropping na values, grabbing Movie Title and Gross columns, sorting by Gross and Ascending
df[['Movie_Title', 'Gross']].dropna().sort_values(by='Gross', ascending=True)

## To CSV

In [ ]:
# making csv file "final_movies.csv"
df.to_csv(dest)
! ls ../CSV

## Getting data into PostgreSQL

In [ ]:
# gathering environmental variable for the postgres db password
SQL_DB_KEY = os.environ.get('SQL_DB_KEY')
# gathering user environmental variable for postgres user id
ENV_USER = os.environ.get('USER')

In [ ]:
# creating sqlachemy engine to read data from postgresql
engine = create_engine(f'postgresql+psycopg2://postgres:{SQL_DB_KEY}@localhost/{ENV_USER}')
engine

In [ ]:
# 'append, replace, fail' arguments.
# index = False is 
df.to_sql('movie_table', engine, if_exists='replace', index=False)

## Putting data into PostgreSQL via chunks 
Alternate way, for bigger datasets

for chunk in pd.read_csv(dest, index_col=0, chunksize=1000): 
    chunk.to_sql('movie_table', engine, if_exists="replace")

## Reading Data from PostgreSQL

In [ ]:
sql_df = pd.read_sql_query('SELECT * from public."movie_table"', engine)

In [ ]:
sql_df

# API The Movie Database

### movie db
https://www.themoviedb.org/settings/api/stats <BR>

<b> must run

In [3]:
# creating paths and dest file paths 
path = '../CSV/movies.csv'
dest = '../CSV/final_movies.csv'
trnd_dest = '../CSV/trnd_movies.csv'
up_dest = '../CSV/up_movies.csv'
p_dest = '../CSV/people_movies.csv'
movdet_dest = '../CSV/movie_detail.csv'

In [4]:
# gathering my environment keys
RA_KEY = os.environ.get('READ_ACCESS_KEY')
# gathering environmental variable for the postgres db password
SQL_DB_KEY = os.environ.get('SQL_DB_KEY')
# gathering user environmental variable for postgres user id
ENV_USER = os.environ.get('USER')

# These are unnecessary for now.
MDB_KEY = os.environ.get('MOVIE_DB_KEY')
ACCOUNT_KEY = os.environ.get('ACCOUNT_ID_KEY')

In [5]:
# creating sqlachemy engine to read/write data from postgresql
engine = create_engine(f'postgresql+psycopg2://postgres:{SQL_DB_KEY}@localhost/{ENV_USER}')

### Genre Lists

In [5]:
## Gathering Movie and TV show genre list

url = "https://api.themoviedb.org/3/genre/movie/list?language=en"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer {0}".format(RA_KEY)
}

response_mlist = requests.get(url, headers=headers, params={'api_key':MDB_KEY})

url = "https://api.themoviedb.org/3/genre/tv/list?language=en"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer {0}".format(RA_KEY)
}

response_tvlist = requests.get(url, headers=headers, params={'api_key':MDB_KEY})

In [6]:
# decodes response into json object
json_data_mlist = response_mlist.content.decode()
# converts json object/string into python object
temp_data_mlist = json.loads(json_data_mlist)
# decodes response into json object
json_data_tvlist = response_tvlist.content.decode()
# converts json object/string into python object
temp_data_tvlist = json.loads(json_data_tvlist)

In [7]:
data_mlist = (temp_data_mlist['genres'])
data_tvlist = (temp_data_tvlist['genres'])

In [8]:
movie_genres = list()
tv_genres = list()

In [9]:
for i, v in enumerate(data_mlist):
    movie_genres.append([*data_mlist[i].values()])
for i, v in enumerate(data_tvlist):
    tv_genres.append([*data_tvlist[i].values()])

In [10]:
# combining the two lists
genre_list = movie_genres + tv_genres
# length of list with duplicate genres, should be 35
print(len(genre_list))
# making sure there is no duplicates via "set"
genre_list = list(set(tuple(sublist) for sublist in genre_list))
# lenght of genre list now - should be 27
print(len(genre_list))

35
27

In [11]:
# making it a dictionary
genre_result = {id_val[0]: id_val[1] for id_val in genre_list}

#### Genre Searching

In [66]:
tv_genres[0], tv_genres[0][0]

([10759, 'Action & Adventure'], 10759)

In [ ]:
# to iterate through list 
for i, v in (genre_list):
    print(i, v)

In [ ]:
# another way to iterate through the list
for i in genre_list:
    print(i[0], i[1])

In [65]:
movie_genres[0], movie_genres[0][0]

([28, 'Action'], 28)

### functions

In [12]:
def convert_to_list(value):
    if isinstance(value, float):
        return value  # Enclose float in a list
    else:
        return value  # Keep as-is if already a list

# data cleaning
# genre_ids column has values that are lists, 
# we need to separate the first value in the list to make it the main genre
def corr_values(df, corr_dict):
    df['genre_ids'] = df['genre_ids'].apply(convert_to_list)
    df.dropna(inplace=True)
    # this function takes the genres_ids column which has values such as [1, 13, 24] (example numbers)
    # and replaces them with the correlating Genre NAMES. For example, id '28' = 'Action' 
    # so the column will now look like a list of names ['Action', 'Adventure', 'Comedy']
    df["genre_ids"] = df["genre_ids"].apply(lambda x: [corr_dict[i] for i in x] if isinstance(x, list) else x)
    return df
def genre_values(df):
    df['genre_ids'] = df['genre_ids'].apply(convert_to_list)
    # this function finds the first item in the list and puts it into a new separate column
    # so ['Action', 'Adventure', 'Comedy'] will just become 'Action'
    df['main_genre'] = df['genre_ids'].apply(lambda x: x[0] if len(x)>0 else x)
    return df

In [13]:
def df_make(url):
    # multiple try and excepts to make sure response code is correct.
    try:
        headers = {
        "accept": "application/json",
        "Authorization": "Bearer {}".format(RA_KEY)
        }
        response = requests.get(url, headers=headers, params={'api_key':MDB_KEY})
        print(response, "\n\n")
    except:
        print("Failed Response")
        print(response.status_code)


    try:
        # decodes response into json object
        json_data = response.content.decode()
        # converts json object/string into python object
        data = json.loads(json_data)
    except:
        print("Failed JSON Load")
        

    try:
        # gathering columns into list
        columns = [i for i in data['results'][0].keys()]
        # unpacking data from json object into the data argument and setting columns, making a dataframe
        df = pd.DataFrame([*data['results']], columns=columns)
        ###print(df.info())
        # genre_ids column has values that are lists, 
        # we need to separate the first value in the list to make it the 
        # main genre after correlating id values to genre name
    except:
        print("Failed Dataframe.\nResults:\n\n")
        print(data.content) 
    
    # gathers the total pages of response
    match = re.search(r'"total_pages":(\d+)', response.text)
    ###print("Match:\n", match)
    # if the response gave a correct variable and not an error, it will grab the page number by the first group
    # else, it will print "Number not found"
    if match:
        page_number = match.group(1)
        print(f"Number: {page_number}")
        page_number = int(page_number)
    else:
        print("Number not found")
        return df
    
        
        
    # this whole block of code with try to do it and until it fails, it will continue. 
    # once it fails, it will print "Out of Pages"

    try:
        # for each page starting at page 2 (because we already have page 1), iterate through and gather the response
        # including the url which the page_number is being formatted into, the headers with the environmental keys
        # and then putting it into a response variable which is then being decoded into a json object
        # and then loading into a data json object that can be searched through

        # Split the URL into parts before the "page=" and after
        # useful for iterating through the pages
        base_url, page_part = url.rsplit("page=", 1)
        
        ###print("BASE URL AND PAGE PART\n", base_url, page_part)
        
        for page in range(2, page_number):
            
            # Construct the full URL with the current page number
            url = base_url + "page=" + str(page)
            ###print("URL:\n", url)
            headers = {
                "accept": "application/json",
                "Authorization": "Bearer {}".format(RA_KEY)}
            
            response = requests.get(url, headers=headers, params={'api_key':MDB_KEY})
            ###print(response.status_code)
            
            # decodes response into json object
            json_data = response.content.decode()
            # converts json object/string into python object
            data = json.loads(json_data)
            # if data exists, then add it to a temporary dataframe with correct columns, and then 
            # join it (concat it) into the already created dataframe while ignoring the index column.
            ###print("Data Keys:\n", data.keys())
            ###print("Results IN Data?: ", 'results' in data.keys())
            if 'results' in data.keys():
                df_temp = pd.DataFrame([*data['results']], columns=columns)
                
                df = pd.concat([df, df_temp], ignore_index=True)
            else:
                print("Dataframe Done.")
                break
        # genre_ids column has values that are lists, 
        # we need to separate the first value in the list to make it the main genre
        # to check if a certain column is in df, and if so, it will change the results properly through
        # the different functions
        if 'genre_ids' in df.columns:
            df = corr_values(df, genre_result)
            df = genre_values(df)
        # gathering current date
        df['curr_date'] = datetime.date.today().strftime("%Y-%m-%d")
        # converting to pandas datetime type 
        df['curr_date'] = pd.to_datetime(df['curr_date'])
        return df
    except:
        print("Out of Pages")

In [14]:
# Testing connection

url = "https://api.themoviedb.org/3/authentication"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer {0}".format(RA_KEY)
}

response = requests.get(url, headers=headers, params={'api_key':MDB_KEY})

print(response.text)

{"success":true,"status_code":1,"status_message":"Success."}

### testing functions

In [341]:
test_df = trnd_df.copy()

In [344]:
test_df = corr_values(test_df, genre_result)
test_df = genre_values(test_df)

In [345]:
counts = test_df['genre_ids'].apply(type).value_counts()
counts

genre_ids
<class 'list'>    9673
Name: count, dtype: int64

In [346]:
test_df

,adult,backdrop_path,id,title,original_language,original_title,overview,poster_path,media_type,genre_ids,popularity,release_date,video,vote_average,vote_count,main_genre
0,False,/feSiISwgEpVzR1v3zv2n2AU4ANJ.jpg,609681,The Marvels,en,The Marvels,"Carol Danvers, aka Captain Marvel, has reclaim...",/Ag3D9qXjhJ2FUkrlJ0Cv1pgxqYQ.jpg,movie,"[Science Fiction, Adventure, Action]",569.145,2023-11-08,False,6.371,896.0,Science Fiction
1,False,/rz8GGX5Id2hCW1KzAIY4xwbQw1w.jpg,955916,Lift,en,Lift,"An international heist crew, led by Cyrus Whit...",/46sp1Z9b2PPTgCMyA87g9aTLUXi.jpg,movie,"[Action, Comedy, Crime]",795.472,2024-01-10,False,6.212,226.0,Action
2,False,/mHpoCdCSebNDIIHbqaAxbD57o7H.jpg,823452,The Boys in the Boat,en,The Boys in the Boat,The triumphant underdog story of the Universit...,/ncJMztHprw3gLRAnDjNnnT23CIt.jpg,movie,"[Drama, History]",27.831,2023-12-25,False,8.500,21.0,Drama
3,False,/yl2GfeCaPoxChcGyM5p7vYp1CKS.jpg,848187,Role Play,en,Role Play,Emma has a wonderful husband and two kids in t...,/7MhXiTmTl16LwXNPbWCmqxj7UxH.jpg,movie,"[Action, Comedy, Romance]",143.492,2023-12-14,False,5.932,110.0,Action
4,False,/iP3fL9jwcYeGMyfZKAT6KqW1qc.jpg,558915,The Color Purple,en,The Color Purple,A decades-spanning tale of love and resilience...,/3Jc93sCl0DqkePYjw47zHpqj7YS.jpg,movie,[Drama],78.462,2023-12-25,False,6.917,36.0,Drama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9986,False,/yeQZTan6q2W9Lo69QjHULCJAwbJ.jpg,45380,Crazy Stone,zh,疯狂的石头,Three thieves try to steal a valuable jade tha...,/nGtj7pyxZQ8hK6fJBekU27bVtmZ.jpg,movie,"[Action, Comedy]",6.994,2006-06-30,False,7.300,100.0,Action
9987,False,/8TIRO8lxg3yGRqQNIAE11FFfWZS.jpg,2346,Still Life,zh,三峡好人,A town in Fengjie county is gradually being de...,/pJYBqUk9zZ3lotYo4711HqWh8QE.jpg,movie,[Drama],12.409,2006-11-16,False,7.200,127.0,Drama
9988,False,/xhHsbpLpPO5AvKx3E6jLXtYAqXV.jpg,530154,Lust Stories,hi,Lust Stories,An anthology of four stories that sheds light ...,/mP5HehSpCaRGd6ej66jxkhdl60B.jpg,movie,"[Drama, Romance]",12.439,2018-06-15,False,6.300,116.0,Drama
9990,False,/lUK6pWQeamOVKeNGJJ6Q4Y9HzOU.jpg,83902,Na Tum Jaano Na Hum,hi,ना तुम जानो ना हम,Esha and Rahul start a letter based friendship...,/cOIrm9WvMGvbliNZ88bK8hVYUc1.jpg,movie,"[Romance, Drama]",10.774,2002-05-10,False,4.600,13.0,Romance
9991,False,/idrGM31rYgEGnMMSjhrIDmDOxKS.jpg,1073097,"Great Photo, Lovely Life",en,"Great Photo, Lovely Life",A photojournalist turns her lens on the decade...,/7cvGCKzqnuf3oXt8DUzB038RA1A.jpg,movie,[Documentary],4.261,2023-03-10,False,8.000,5.0,Documentary

### Trending Movies
To iterate through pages:

url = "https://api.themoviedb.org/3/trending/movie/day?api_key=THE_KEY&page=1"

In [17]:
%%time
url = "https://api.themoviedb.org/3/trending/movie/day?api_key=THE_KEY&page=1"
trnd_df = df_make(url)

<Response [200]>


Number: 1000
Dataframe Done.
CPU times: user 25.6 s, sys: 1.39 s, total: 27 s
Wall time: 1min 56s

In [18]:
trnd_df

,adult,backdrop_path,id,title,original_language,original_title,overview,poster_path,media_type,genre_ids,popularity,release_date,video,vote_average,vote_count,main_genre,curr_date
0,False,/feSiISwgEpVzR1v3zv2n2AU4ANJ.jpg,609681,The Marvels,en,The Marvels,"Carol Danvers, aka Captain Marvel, has reclaim...",/Ag3D9qXjhJ2FUkrlJ0Cv1pgxqYQ.jpg,movie,"[Science Fiction, Adventure, Action]",569.145,2023-11-08,False,6.370,903.0,Science Fiction,2024-01-17
1,False,/rz8GGX5Id2hCW1KzAIY4xwbQw1w.jpg,955916,Lift,en,Lift,"An international heist crew, led by Cyrus Whit...",/46sp1Z9b2PPTgCMyA87g9aTLUXi.jpg,movie,"[Action, Comedy, Crime]",795.472,2024-01-10,False,6.239,230.0,Action,2024-01-17
2,False,/yl2GfeCaPoxChcGyM5p7vYp1CKS.jpg,848187,Role Play,en,Role Play,Emma has a wonderful husband and two kids in t...,/7MhXiTmTl16LwXNPbWCmqxj7UxH.jpg,movie,"[Action, Comedy, Romance]",143.492,2023-12-14,False,5.950,111.0,Action,2024-01-17
3,False,/mHpoCdCSebNDIIHbqaAxbD57o7H.jpg,823452,The Boys in the Boat,en,The Boys in the Boat,The triumphant underdog story of the Universit...,/ncJMztHprw3gLRAnDjNnnT23CIt.jpg,movie,"[Drama, History]",27.831,2023-12-25,False,8.500,21.0,Drama,2024-01-17
4,False,/iP3fL9jwcYeGMyfZKAT6KqW1qc.jpg,558915,The Color Purple,en,The Color Purple,A decades-spanning tale of love and resilience...,/3Jc93sCl0DqkePYjw47zHpqj7YS.jpg,movie,[Drama],78.462,2023-12-25,False,6.919,37.0,Drama,2024-01-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9987,False,/8Z0gPcBeImWCxmgZIChcDEFjqJK.jpg,401065,The Axe Murders of Villisca,en,The Axe Murders of Villisca,Three ghost-hunting high-schoolers visit the M...,/69BB2Bp4i0LdOqtAtH5hIZiUFb3.jpg,movie,[Horror],5.534,2017-01-20,False,4.877,81.0,Horror,2024-01-17
9988,False,/8eRYHoGRCh5SSnkbEttgBrOvwcH.jpg,54860,The Bodyguard,ja,ボディガード牙,Karate master and anti-drug vigilante Chiba re...,/bECtwslT7z8uS0Y7ahFfidIXO0m.jpg,movie,"[Action, Thriller]",2.961,1973-06-30,False,4.188,16.0,Action,2024-01-17
9989,False,/20ZansYII7VciPyNXWegcipOl5a.jpg,1066205,My Sister's Serial Killer Boyfriend,en,My Sister's Serial Killer Boyfriend,"Maddie, a local reporter investigating a serie...",/9CMMTffmuzaK8Lx8TBYk6qTTSyZ.jpg,movie,"[Thriller, TV Movie]",3.752,2023-01-08,False,8.500,2.0,Thriller,2024-01-17
9990,False,/wCLbSw3hSQBB0iwruUzuDvMq37D.jpg,542787,Frenzy,en,Frenzy,A group of friends run a popular travel vlog t...,/iQxV2OLz1Y8NiC8HWeD5uYu14iH.jpg,movie,"[Horror, Thriller, TV Movie]",13.021,2018-08-15,False,3.750,54.0,Horror,2024-01-17
9991,False,/A4y042gs23VFq0vi1TPOqX4HDYx.jpg,401306,The Seventh Company Has Been Found,fr,On a retrouvé la 7ème compagnie,The second part of the Seventh Company adventu...,/6df3QdLZc5xCOvGekKn5gzPYNiY.jpg,movie,"[Action, Comedy, War]",9.760,1975-12-10,False,7.337,261.0,Action,2024-01-17

In [19]:
# making trnd_movies.csv and showing schema
trnd_df.to_csv(trnd_dest)
! ls ../CSV
trnd_df.info()

final_movies.csv movies.csv       trnd_movies.csv  up_movies.csv
<class 'pandas.core.frame.DataFrame'>
Index: 9676 entries, 0 to 9991
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              9676 non-null   bool
 1   backdrop_path      9676 non-null   object
 2   id                 9676 non-null   int64
 3   title              9676 non-null   object
 4   original_language  9676 non-null   object
 5   original_title     9676 non-null   object
 6   overview           9676 non-null   object
 7   poster_path        9676 non-null   object
 8   media_type         9676 non-null   object
 9   genre_ids          9676 non-null   object
 10  popularity         9676 non-null   float64
 11  release_date       9676 non-null   object
 12  video              9676 non-null   object
 13  vote_average       9676 non-null   float64
 14  vote_count         9676 non-null   float64
 15  main_genre         9676 non-null   object
 16  curr_date          9676 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(3), int64(1), object(11)
memory usage: 1.3+ MB

In [20]:
# 'append, replace, fail' arguments.
# index = False makes CSV not include index column
trnd_df.to_sql('trnd_movie_table', engine, if_exists='replace', index=False)

676

#### Old TRND DF Code

In [89]:
%%time

# this section is to create the dataframe and gather the first 20 items

# gathering Trending Movies

# specified page number
url = "https://api.themoviedb.org/3/trending/movie/day?api_key=THE_KEY&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer {}".format(RA_KEY)
}

response_trnd = requests.get(url, headers=headers)

print(response_trnd)

# decodes response into json object
json_data_trnd = response_trnd.content.decode()
# converts json object/string into python object
data_trnd = json.loads(json_data_trnd)

# gathering columns into list
trnd_columns = [i for i in data_trnd['results'][0].keys()]
# unpacking data from json object into the data argument and setting columns, making a dataframe
trnd_df = pd.DataFrame([*data_trnd['results']], columns=trnd_columns)
# genre_ids column has values that are lists, 
# we need to separate the first value in the list to make it the 
# main genre after correlating id values to genre name
trnd_df = corr_values(trnd_df, genre_result)
trnd_df = genre_values(trnd_df)
trnd_df

<Response [200]>
CPU times: user 45.7 ms, sys: 4.41 ms, total: 50.1 ms
Wall time: 202 ms

,adult,backdrop_path,id,title,original_language,original_title,overview,poster_path,media_type,genre_ids,popularity,release_date,video,vote_average,vote_count,main_genre
0,False,/qgFrFXtiGfWN1zkk4sPd0nwFaBF.jpg,848187,Role Play,en,Role Play,Emma has a wonderful husband and two kids in t...,/7MhXiTmTl16LwXNPbWCmqxj7UxH.jpg,movie,"[Action, Comedy, Romance]",26.680,2023-12-14,False,6.563,16,Action
1,False,/rz8GGX5Id2hCW1KzAIY4xwbQw1w.jpg,955916,Lift,en,Lift,"An international heist crew, led by Cyrus Whit...",/gma8o1jWa6m0K1iJ9TzHIiFyTtI.jpg,movie,"[Action, Comedy]",147.906,2024-01-10,False,6.400,19,Action
2,False,/f1AQhx6ZfGhPZFTVKgxG91PhEYc.jpg,753342,Napoleon,en,Napoleon,An epic that details the checkered rise and fa...,/jE5o7y9K6pZtWNNMEw3IdpHuncR.jpg,movie,"[History, War, Drama]",1092.626,2023-11-22,False,6.456,1014,History
3,False,/uKP0B8HUJ08fas7NF77Xwu0bolJ.jpg,1214314,One More Shot,en,One More Shot,Following the attack on the black site in Pola...,/gdF3Q1Mcr2XvxLPStQSoQIO2cIj.jpg,movie,"[Action, Thriller]",38.525,2024-01-12,False,7.289,19,Action
4,False,/rVJfabCz1ViynQCEz54MRqdZig1.jpg,1155089,Justice League: Crisis on Infinite Earths Part...,en,Justice League: Crisis on Infinite Earths Part...,Death is coming. Worse than death: oblivion. N...,/zR6C66EDklgTPLHRSmmMt5878MR.jpg,movie,"[Animation, Science Fiction, Action]",104.182,2024-01-09,False,7.821,56,Animation
5,False,/4MCKNAc6AbWjEsM2h9Xc29owo4z.jpg,866398,The Beekeeper,en,The Beekeeper,One man’s campaign for vengeance takes on nati...,/A7EByudX0eOzlkQ2FIbogzyazm2.jpg,movie,"[Action, Thriller]",453.101,2024-01-10,False,7.464,28,Action
6,False,/vdpE5pjJVql5aD6pnzRqlFmgxXf.jpg,906126,Society of the Snow,es,La sociedad de la nieve,"On October 13, 1972, Uruguayan Air Force Fligh...",/2e853FDVSIso600RqAMunPxiZjq.jpg,movie,"[Drama, History]",1412.999,2023-12-13,False,8.074,611,Drama
7,False,/rLb2cwF3Pazuxaj0sRXQ037tGI1.jpg,872585,Oppenheimer,en,Oppenheimer,The story of J. Robert Oppenheimer's role in t...,/8Gxv8gSFCU0XGDykEGv7zR1n2ua.jpg,movie,"[Drama, History]",674.156,2023-07-19,False,8.116,6052,Drama
8,False,/plLqCMIYgvh3dqnIm16da7lDtmb.jpg,1072876,Self Reliance,en,Self Reliance,When a man is offered a million dollars to pla...,/4AH3S0xMEYW20KGI6CSPO1W70bo.jpg,movie,[Comedy],16.292,2024-01-03,False,4.300,3,Comedy
9,False,/m3s0jyPGtluJ48kD0fUiPjXrRhr.jpg,673593,Mean Girls,en,Mean Girls,New student Cady Heron is welcomed into the to...,/fbbj3viSUDEGT1fFFMNpHP1iUjw.jpg,movie,[Comedy],202.390,2024-01-10,False,6.900,25,Comedy
10,False,/nHf61UzkfFno5X1ofIhugCPus2R.jpg,346698,Barbie,en,Barbie,Barbie and Ken are having the time of their li...,/iuFNMS8U5cb6xfzi51Dbkovj7vM.jpg,movie,"[Comedy, Adventure, Fantasy]",399.454,2023-07-19,False,7.146,6869,Comedy
11,False,/vrpSBM5Zr2L15cFKhOwlKA8Ttyc.jpg,1211957,The Painter,en,The Painter,An ex-CIA operative is thrown back into a dang...,/gqzlmjyBej9EJXuB6IsIT9LWqvV.jpg,movie,"[Action, Thriller]",13.202,2024-01-05,False,6.700,3,Action
12,False,/mSJ18SvWHShacTp8BcqH5WRCkGQ.jpg,927107,The Bricklayer,en,The Bricklayer,Someone is blackmailing the CIA by assassinati...,/pwOQ9lqLX1OgsJRSybS662wMcu8.jpg,movie,"[Action, Thriller]",203.920,2023-12-14,False,6.500,30,Action
13,False,/rrfBenawPGhkt5yvb124NSZwnAC.jpg,930564,Saltburn,en,Saltburn,Struggling to find his place at Oxford Univers...,/qjhahNLSZ705B5JP92YMEYPocPz.jpg,movie,"[Drama, Comedy, Thriller]",478.032,2023-11-16,False,7.140,1022,Drama
14,False,/jXJxMcVoEuXzym3vFnjqDW4ifo6.jpg,572802,Aquaman and the Lost Kingdom,en,Aquaman and the Lost Kingdom,"Black Manta, still driven by the need to aveng...",/8xV47NDrjdZDpkVcCFqkdHa3T0C.jpg,movie,"[Action, Adventure, Fantasy]",1117.610,2023-12-20,False,6.476,461,Action
15,False,/5a4JdoFwll5DRtKMe7JLuGQ9yJm.jpg,695721,The Hunger Games: The Ballad of Songbirds & Sn...,en,The Hunger Games: The Ballad of Songbirds & Sn...,64 years before he becomes the tyrannical pres...,/mBaXZ95R2OxueZhvQbcEWy2DqyO.jpg,movie,"[Drama, Science Fiction, Action]",753.390,2023-11-15,False,7.228,1439,Drama
16,False,/gsVC7HMf4VR2XFOyqjTSklY2Tms.jpg,792307,Poor Things,en,Poor Things,Brought back to life by an unorthodox scientis...,/kCGlIMHnOm8JPXq3rXM6c5wMxcT.jpg,movie,"[Science Fiction, Romance, Comedy]",170.340,2023-11-21,False,8.028,88,Science Fiction
17,False,/sQLMaESdeELB7Dl8HdxfGlZYRzu.jpg,840430,The Holdovers,en,The Holdovers,A curmudgeonly instructor at a New England pre...,/VHSzNBTwxV8vh7wylo7O9CLdac.jpg,movie,"[Comedy, Drama]",123.842,2023-10-27,False,7.650,333,Comedy
18,False,/1X7vow16X7CnCoexXh4H4F2yDJv.jpg,466420,Killers of the Flower Moon,en,Killers of the Flower Moon,When oil is discovered in 1920s Oklahoma under...,/dB6Krk806zeqd0YNp2ngQ9zXteH.jpg,movie,"[Crime, Drama, History]",394.389,2023-10-18,False,7.524,1831,Crime
19,False,/sRLC052ieEzkQs9dEtPMfFxYkej.jpg,848326,Rebel Moon - Part One: A Child of Fire,en,Rebel Moon - Part One: A Child of Fire,When a peaceful colony on the edge of the gala...,/ui4DrH1cKk2vkHshcUcGt2lKxCm.jpg,movie,"[Science Fiction, Drama, Action]",658.059,2023-12-15,False,6.454,1183,Science Fiction

In [90]:
%%time

# gathers the total pages of response
match = re.search(r'"total_pages":(\d+)', response_trnd.text)
# if the response gave a correct variable and not an error, it will grab the page number by the first group
# else, it will print "Number not found"
if match:
    page_number = match.group(1)
    print(f"Number: {page_number}")
else:
    print("Number not found")

# converting page_nunber into 'int' variable
page_number = int(page_number)
    
# gathering Trending Movies one page at a time through iteration
# this whole block of code with try to do it and until it fails, it will continue. 
# once it fails, it will print "Out of Pages"

# this block of code takes around 30 seconds to run.
try:
    # for each page starting at page 2 (because we already have page 1), iterate through and gather the response
    # including the url which the page_number is being formatted into, the headers with the environmental keys
    # and then putting it into a response variable which is then being decoded into a json object
    # and then loading into a data_trnd json object that can be searched through
    
    for page in range(2, page_number):
        url = f"https://api.themoviedb.org/3/trending/movie/day?api_key=THE_KEY&page={page}"
        headers = {
            "accept": "application/json",
            "Authorization": "Bearer {}".format(RA_KEY)}
        response_trnd = requests.get(url, headers=headers)
        # decodes response into json object
        json_data_trnd = response_trnd.content.decode()
        # converts json object/string into python object
        data_trnd = json.loads(json_data_trnd)
        # if data_trnd exists, then add it to a temporary dataframe with correct columns, and then 
        # join it (concat it) into the already created dataframe while ignoring the index column.
        if data_trnd:
            trnd_df_temp = pd.DataFrame([*data_trnd['results']], columns=trnd_columns)
            # genre_ids column has values that are lists, 
            # we need to separate the first value in the list to make it the main genre
            trnd_df_temp = corr_values(trnd_df_temp, genre_result)
            trnd_df_temp = genre_values(trnd_df_temp)
            trnd_df = pd.concat([trnd_df, trnd_df_temp], ignore_index=True)
        else:
            break
except:
    print("Out of Pages")
    
    
# gathering current date
trnd_df['curr_date'] = datetime.date.today().strftime("%Y-%m-%d")
# converting to pandas datetime type 
trnd_df['curr_date'] = pd.to_datetime(trnd_df['curr_date'])
# Reorganizing columns
trnd_df = trnd_df[['original_title', 'id', 'original_language', 'main_genre', 
                   'overview', 'release_date', 'vote_average', 'vote_count', 'popularity', 
                   'curr_date', 'media_type', 'video', 'title', 'genre_ids', 
                   'adult', 'poster_path', 'backdrop_path']]

Number: 1000
Out of Pages
CPU times: user 28 s, sys: 1.21 s, total: 29.2 s
Wall time: 2min 4s

In [114]:
# printing final results
trnd_df

,original_title,id,original_language,main_genre,overview,release_date,vote_average,vote_count,popularity,curr_date,media_type,video,title,genre_ids,adult,poster_path,backdrop_path
0,Role Play,848187,en,Action,Emma has a wonderful husband and two kids in t...,2023-12-14,6.563,16,26.680,2024-01-12,movie,False,Role Play,"[Action, Comedy, Romance]",False,/7MhXiTmTl16LwXNPbWCmqxj7UxH.jpg,/qgFrFXtiGfWN1zkk4sPd0nwFaBF.jpg
1,Lift,955916,en,Action,"An international heist crew, led by Cyrus Whit...",2024-01-10,6.400,19,147.906,2024-01-12,movie,False,Lift,"[Action, Comedy]",False,/gma8o1jWa6m0K1iJ9TzHIiFyTtI.jpg,/rz8GGX5Id2hCW1KzAIY4xwbQw1w.jpg
2,Napoleon,753342,en,History,An epic that details the checkered rise and fa...,2023-11-22,6.456,1014,1092.626,2024-01-12,movie,False,Napoleon,"[History, War, Drama]",False,/jE5o7y9K6pZtWNNMEw3IdpHuncR.jpg,/f1AQhx6ZfGhPZFTVKgxG91PhEYc.jpg
3,One More Shot,1214314,en,Action,Following the attack on the black site in Pola...,2024-01-12,7.289,19,38.525,2024-01-12,movie,False,One More Shot,"[Action, Thriller]",False,/gdF3Q1Mcr2XvxLPStQSoQIO2cIj.jpg,/uKP0B8HUJ08fas7NF77Xwu0bolJ.jpg
4,Justice League: Crisis on Infinite Earths Part...,1155089,en,Animation,Death is coming. Worse than death: oblivion. N...,2024-01-09,7.821,56,104.182,2024-01-12,movie,False,Justice League: Crisis on Infinite Earths Part...,"[Animation, Science Fiction, Action]",False,/zR6C66EDklgTPLHRSmmMt5878MR.jpg,/rVJfabCz1ViynQCEz54MRqdZig1.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9990,The Medusa Touch,11623,en,Horror,A French detective in London reconstructs the ...,1978-04-13,6.800,160,8.921,2024-01-12,movie,False,The Medusa Touch,"[Horror, Thriller, Science Fiction, Mystery]",False,/sk523UMvmmiFMsGKxerGiwSQWdZ.jpg,/7aY1ji2fVHVTAW9DjkpFvPMyLi9.jpg
9991,The Dead,39507,en,Drama,"After a convivial holiday dinner party, things...",1987-09-03,6.932,139,9.891,2024-01-12,movie,False,The Dead,[Drama],False,/hFLUqiwvvtcUqA5NZNejaaNpTv0.jpg,/ypySbENCsnlpeG49txjxcITYSRX.jpg
9992,The Roaring Twenties,37698,en,Crime,"After World War I, Armistice Lloyd Hart goes b...",1939-10-28,7.500,211,10.625,2024-01-12,movie,False,The Roaring Twenties,"[Crime, Drama, Thriller]",False,/nkymdElqwJBm2bl3F6hJp4xJggD.jpg,/f4UnGG6Pyf6ZLrYdNj2LjcXmWZI.jpg
9993,Happiest Season,520172,en,Romance,A young woman's plans to propose to her girlfr...,2020-11-26,7.299,1091,30.989,2024-01-12,movie,False,Happiest Season,"[Romance, Comedy]",False,/vzec9kkOSE93tygyfOktedkeOQ.jpg,/jOWgFmD1H5t6nL7ChbmX8oDFUZl.jpg
9994,A United Kingdom,347026,en,Drama,"The inspiring true story of Seretse Khama, the...",2016-11-25,6.683,488,11.898,2024-01-12,movie,False,A United Kingdom,"[Drama, History]",False,/xyhoW9qK7ZaDM1V4A6pPL9DWjn8.jpg,/cBlKxl2YSRVTLb1szSur8H3BNdZ.jpg

In [112]:
# making trnd_movies.csv and showing schema
trnd_df.to_csv(trnd_dest)
! ls ../CSV
trnd_df.info()

final_movies.csv movies.csv       trnd_movies.csv  up_movies.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9995 entries, 0 to 9994
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   original_title     9995 non-null   object
 1   id                 9995 non-null   int64
 2   original_language  9995 non-null   object
 3   main_genre         8915 non-null   object
 4   overview           9995 non-null   object
 5   release_date       9995 non-null   object
 6   vote_average       9995 non-null   float64
 7   vote_count         9995 non-null   int64
 8   popularity         9995 non-null   float64
 9   curr_date          9995 non-null   datetime64[ns]
 10  media_type         9995 non-null   object
 11  video              9995 non-null   bool
 12  title              9995 non-null   object
 13  genre_ids          9995 non-null   object
 14  adult              9995 non-null   bool
 15  poster_path        9945 non-null   object
 16  backdrop_path      9650 non-null   object
dtypes: bool(2), datetime64[ns](1), float64(2), int64(2), object(10)
memory usage: 1.2+ MB

In [113]:
# 'append, replace, fail' arguments.
# index = False makes CSV not include index column
trnd_df.to_sql('trnd_movie_table', engine, if_exists='replace', index=False)

995

### Upcoming Movies

In [112]:
%%time
url = "https://api.themoviedb.org/3/movie/upcoming?language=en-US&page=1"
up_df = df_make(url)

<Response [200]>


Number: 47
CPU times: user 2.34 s, sys: 153 ms, total: 2.5 s
Wall time: 11.9 s

In [ ]:
up_df

In [114]:
up_df.info()
# converting to csv file
up_df.to_csv(up_dest)
# 'append, replace, fail' arguments.
# index = False makes CSV not include index column
up_df.to_sql('up_movie_table', engine, if_exists='replace', index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 463 entries, 0 to 912
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              463 non-null    bool
 1   backdrop_path      463 non-null    object
 2   genre_ids          463 non-null    object
 3   id                 463 non-null    int64
 4   original_language  463 non-null    object
 5   original_title     463 non-null    object
 6   overview           463 non-null    object
 7   popularity         463 non-null    float64
 8   poster_path        463 non-null    object
 9   release_date       463 non-null    object
 10  title              463 non-null    object
 11  video              463 non-null    bool
 12  vote_average       463 non-null    float64
 13  vote_count         463 non-null    int64
 14  main_genre         463 non-null    object
 15  curr_date          463 non-null    datetime64[ns]
dtypes: bool(2), datetime64[ns](1), float64(2), int64(2), object(9)
memory usage: 55.2+ KB

463

#### Old UP DF Code

In [115]:
# gathering Upcoming Movies

# specified page number
url = "https://api.themoviedb.org/3/movie/upcoming?language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer {}".format(RA_KEY)
}

response_up = requests.get(url, headers=headers)

print(response_up)

<Response [200]>

In [116]:
%%time

# this section is to create the dataframe and gather the first 20 items

# gathering Upcoming Movies

# specified page number
url = "https://api.themoviedb.org/3/movie/upcoming?language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer {}".format(RA_KEY)
}

response_up = requests.get(url, headers=headers)

print(response_up)

# decodes response into json object
json_data_up = response_up.content.decode()
# converts json object/string into python object
data_up = json.loads(json_data_up)

# making a list full of the column names
up_columns = [i for i in data_up['results'][0].keys()]
# unpacking data from json object into the data argument and setting columns, making a dataframe
up_df = pd.DataFrame([*data_up['results']], columns=up_columns)
# genre_ids column has values that are lists, 
# we need to separate the first value in the list to make it the main genre
up_df = corr_values(up_df, genre_result)
up_df = genre_values(up_df)
up_df

<Response [200]>
CPU times: user 47.6 ms, sys: 5.58 ms, total: 53.2 ms
Wall time: 128 ms

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,main_genre
0,False,/yOm993lsJyPmBodlYjgpPwBjXP9.jpg,"[Comedy, Family, Fantasy]",787699,en,Wonka,Willy Wonka – chock-full of ideas and determin...,654.778,/qhb1qOilapbapxWQn9jtRCMwXJF.jpg,2023-12-06,Wonka,False,7.102,938,Comedy
1,False,/50stq3Jlny6oEgJjsXbQvbajCNw.jpg,"[Romance, Drama]",1020006,en,Priscilla,When teenage Priscilla Beaulieu meets Elvis Pr...,611.517,/uDCeELWWpsNq7ErM61Yuq70WAE9.jpg,2023-10-27,Priscilla,False,6.884,194,Romance
2,False,/X8yF6STUk5Zr5nAuLBJiio8Sxh.jpg,"[Drama, Romance]",1143183,tl,Rewind,Mary loves John for as long as she can remembe...,466.285,/ru1i4ZR11lPPVArk3fOcO1VCOlD.jpg,2023-12-25,Rewind,False,6.806,18,Drama
3,False,/4MCKNAc6AbWjEsM2h9Xc29owo4z.jpg,"[Action, Thriller]",866398,en,The Beekeeper,One man’s campaign for vengeance takes on nati...,453.101,/A7EByudX0eOzlkQ2FIbogzyazm2.jpg,2024-01-10,The Beekeeper,False,7.520,25,Action
4,False,/ptz5ETMxDoRRiE69BVuIxJzyTEO.jpg,"[Animation, Action, Adventure, Comedy, Family]",940551,en,Migration,After a migrating duck family alights on their...,374.851,/ldfCF9RhR40mppkzmftxapaHeTo.jpg,2023-12-06,Migration,False,7.406,101,Animation
5,False,/zX9m8h33pHXcES7ttO8v0ThiYj7.jpg,"[Drama, Action, Thriller]",1053592,es,Todos los nombres de Dios,"After being implicated in a terrorist attack, ...",373.468,/n15gfcgwV0LVPSobrayZcFHcwN6.jpg,2023-09-15,All the Names of God,False,7.048,42,Drama
6,False,/vQpvNDc0AFao8BbWyXDFVVrqiZj.jpg,[Horror],853387,en,Lord of Misrule,When the daughter of the town's new priest goe...,326.801,/eCNJuGsCNdf2yf4F3UcDg1WZTbo.jpg,2023-10-26,Lord of Misrule,False,5.719,16,Horror
7,False,/4HodYYKEIsGOdinkGi2Ucz6X9i0.jpg,"[Animation, Action, Adventure, Science Fiction]",569094,en,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",326.690,/8Vt6mWEReuy4Of61Lnj5Xj704m8.jpg,2023-05-31,Spider-Man: Across the Spider-Verse,False,8.379,5467,Animation
8,False,/9ZlGiEKmcYrrxmiQEJDhjeT2kEW.jpg,"[Action, Adventure, War]",1061181,ja,キングダム 運命の炎,To defend their kingdom against a sudden invas...,260.254,/60eYZkkksgKeeAV8fAAKQslZZnH.jpg,2023-07-28,Kingdom III: The Flame of Destiny,False,7.610,86,Action
9,False,/pA3vdhadJPxF5GA1uo8OPTiNQDT.jpg,"[Action, Drama]",678512,en,Sound of Freedom,"The story of Tim Ballard, a former US governme...",238.867,/qA5kPYZA7FkVvqcEfJRoOy4kpHg.jpg,2023-07-03,Sound of Freedom,False,8.068,1765,Action
10,False,/a0GM57AnJtNi7lMOCamniiyV10W.jpg,"[Animation, Adventure, Fantasy]",508883,ja,君たちはどう生きるか,"While the Second World War rages, the teenage ...",208.361,/y9xS5NQTBnFjDoXhSFQeGxlmkoM.jpg,2023-07-14,The Boy and the Heron,False,7.390,631,Animation
11,False,/m3s0jyPGtluJ48kD0fUiPjXrRhr.jpg,[Comedy],673593,en,Mean Girls,New student Cady Heron is welcomed into the to...,202.390,/fbbj3viSUDEGT1fFFMNpHP1iUjw.jpg,2024-01-10,Mean Girls,False,6.848,23,Comedy
12,False,/mgTeI8UNJzre7YMt24lfQLyXnA8.jpg,[Drama],1075175,en,How to Have Sex,Three British teenage girls go on a rites-of-p...,196.703,/rafwrzslLb203hQFIU8s0yRk0Qy.jpg,2023-11-02,How to Have Sex,False,6.520,101,Drama
13,False,/1PkBhxXdEejw8c5BC7T3cN7jz9g.jpg,"[Comedy, Romance]",1072790,en,Anyone But You,"After an amazing first date, Bea and Ben’s fie...",194.025,/yRt7MGBElkLQOYRvLTT1b3B1rcp.jpg,2023-12-21,Anyone But You,False,7.407,54,Comedy
14,False,/cavK9ox37pxDg11RvJINMH63onU.jpg,"[Horror, Thriller]",744857,es,Cuando acecha la maldad,Residents of a small rural town discover that ...,174.966,/2gimJ06p9tVR4P6jacZWcLcNEwA.jpg,2023-10-05,When Evil Lurks,False,7.349,365,Horror
15,False,/gsVC7HMf4VR2XFOyqjTSklY2Tms.jpg,"[Science Fiction, Romance, Comedy]",792307,en,Poor Things,Brought back to life by an unorthodox scientis...,170.340,/kCGlIMHnOm8JPXq3rXM6c5wMxcT.jpg,2023-11-21,Poor Things,False,8.017,87,Science Fiction
16,False,/klb3yODwKMRle19EcvdeSatEZL7.jpg,"[Horror, Thriller]",1072342,en,Night Swim,Forced into early retirement by a degenerative...,158.385,/gSkfBGdxdialBMM7P02V4hcI6Ij.jpg,2024-01-03,Night Swim,False,5.300,33,Horror
17,False,/sQLMaESdeELB7Dl8HdxfGlZYRzu.jpg,"[Comedy, Drama]",840430,en,The Holdovers,A curmudgeonly instructor at a New England pre...,123.842,/VHSzNBTwxV8vh7wylo7O9CLdac.jpg,2023-10-27,The Holdovers,False,7.660,331,Comedy
18,False,/kszooR7v1TLFM4pzx6IkKq2jDAN.jpg,"[Drama, Mystery]",915935,fr,Anatomie d'une chute,"A woman is suspected of her husband’s murder, ...",123.257,/kQs6keheMwCxJxrzV83VUwFtHkB.jpg,2023-08-13,Anatomy of a Fall,False,7.730,589,Drama
19,False,/eFpUSzlVOkMWipG8efjF0YtYffX.jpg,[Documentary],1192578,es,Elijo creer,It narrates the epic title obtained by the Arg...,111.292,/eLbDSu14EZ2VldIgDDGrt5pJkoL.jpg,2023-12-07,Soccer Soul,False,6.800,5,Documentary

In [117]:
%%time

# gathers the total pages of response
match = re.search(r'"total_pages":(\d+)', response_up.text)

# if the response gave a correct variable and not an error, it will grab the page number by the first group
# else, it will print "Number not found"
if match:
    page_number = match.group(1)
    print(f"Number: {page_number}")
else:
    print("Number not found")

# converting page_nunber into 'int' variable
page_number = int(page_number)
    
# gathering Upcoming Movies one page at a time through iteration
# this whole block of code with try to do it and until it fails, it will continue. 
# once it fails, it will print "Out of Pages"

# this block of code takes around 30 seconds to run.
try:
    # for each page starting at page 2 (because we already have page 1), iterate through and gather the response
    # including the url which the page_number is being formatted into, the headers with the environmental keys
    # and then putting it into a response variable which is then being decoded into a json object
    # and then loading into a data_trnd json object that can be searched through
    
    for page in range(2, page_number):
        # specified page number
        url = f"https://api.themoviedb.org/3/movie/upcoming?language=en-US&page={page}"
        headers = {
            "accept": "application/json",
            "Authorization": "Bearer {}".format(RA_KEY)
        }
        response_up = requests.get(url, headers=headers)
        # decodes response into json object
        json_data_up = response_up.content.decode()
        # converts json object/string into python object
        data_up = json.loads(json_data_up)
        # if data_up exists, then add it to a temporary dataframe with correct columns, and then 
        # join it (concat it) into the already created dataframe while ignoring the index column.
        if data_up:
            up_df_temp = pd.DataFrame([*data_up['results']], columns=up_columns)
            # genre_ids column has values that are lists, 
            # we need to separate the first value in the list to make it the main genre
            up_df_temp = corr_values(up_df_temp, genre_result)
            up_df_temp = genre_values(up_df_temp)
            up_df = pd.concat([up_df, up_df_temp], ignore_index=True)
        else:
            break
except:
    print("Out of Pages")
    
    
# gathering current date
up_df['curr_date'] = datetime.date.today().strftime("%Y-%m-%d")
# converting to pandas datetime type 
up_df['curr_date'] = pd.to_datetime(up_df['curr_date'])
# Cleaning Up

# Dropping unncessary columns
up_df.drop(columns=['video'], inplace=True)

# Changing datatypes
up_df['release_date'] = pd.to_datetime(up_df['release_date'])

# Reorganizing Columns
up_df = up_df[['original_title', 'id', 'overview', 
               'original_language', 'release_date', 'popularity', 'vote_average', 
               'vote_count', 'curr_date', 'genre_ids', 'backdrop_path', 'poster_path']]
# printing out our results
up_df

Number: 53
CPU times: user 2.72 s, sys: 128 ms, total: 2.85 s
Wall time: 10.9 s

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,main_genre,curr_date
0,False,/yOm993lsJyPmBodlYjgpPwBjXP9.jpg,"[Comedy, Family, Fantasy]",787699,en,Wonka,Willy Wonka – chock-full of ideas and determin...,654.778,/qhb1qOilapbapxWQn9jtRCMwXJF.jpg,2023-12-06,Wonka,False,7.102,938,Comedy,2024-01-12
1,False,/50stq3Jlny6oEgJjsXbQvbajCNw.jpg,"[Romance, Drama]",1020006,en,Priscilla,When teenage Priscilla Beaulieu meets Elvis Pr...,611.517,/uDCeELWWpsNq7ErM61Yuq70WAE9.jpg,2023-10-27,Priscilla,False,6.884,194,Romance,2024-01-12
2,False,/X8yF6STUk5Zr5nAuLBJiio8Sxh.jpg,"[Drama, Romance]",1143183,tl,Rewind,Mary loves John for as long as she can remembe...,466.285,/ru1i4ZR11lPPVArk3fOcO1VCOlD.jpg,2023-12-25,Rewind,False,6.806,18,Drama,2024-01-12
3,False,/4MCKNAc6AbWjEsM2h9Xc29owo4z.jpg,"[Action, Thriller]",866398,en,The Beekeeper,One man’s campaign for vengeance takes on nati...,453.101,/A7EByudX0eOzlkQ2FIbogzyazm2.jpg,2024-01-10,The Beekeeper,False,7.520,25,Action,2024-01-12
4,False,/ptz5ETMxDoRRiE69BVuIxJzyTEO.jpg,"[Animation, Action, Adventure, Comedy, Family]",940551,en,Migration,After a migrating duck family alights on their...,374.851,/ldfCF9RhR40mppkzmftxapaHeTo.jpg,2023-12-06,Migration,False,7.406,101,Animation,2024-01-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1035,False,/iWpL5TEdJeX0ArGDBXvZEtBImHi.jpg,"[Adventure, Comedy]",1229581,en,The Art of Blending In,A student burdened with the curse of a constan...,0.600,/sXugmYmFazawCwGwIbJzcYSMjdz.jpg,2024-02-01,The Art of Blending In,False,0.000,0,None,2024-01-12
1036,False,None,[],1225608,en,Bedlam,Bedlam involves an imaginary meeting between t...,0.600,None,1991-01-01,Bedlam,False,0.000,0,None,2024-01-12
1037,False,None,[],1220315,en,Embrace the Moon,The Moon Goddess falls in love with a human fa...,0.600,/o9ZaonCufRWDurMttnLs7wb3sTI.jpg,2024-02-02,Embrace the Moon,False,0.000,0,None,2024-01-12
1038,False,None,[Documentary],1216585,en,Six Inches of Soil,The inspiring story of British farmers standin...,0.600,None,2024-01-19,Six Inches of Soil,False,0.000,0,None,2024-01-12
1039,False,None,"[Animation, Documentary]",1198040,ru,Father's Letters,"One winter day in 1934, Pr. Vangengheim was ar...",0.600,/5szAUX9Cuk9DBl960Su7avHrTQu.jpg,2023-06-06,Father's Letters,False,0.000,0,None,2024-01-12

In [ ]:
up_df.info()

In [118]:
# converting to csv file
up_df.to_csv(up_dest)
# 'append, replace, fail' arguments.
# index = False makes CSV not include index column
up_df.to_sql('up_movie_table', engine, if_exists='replace', index=False)

40

#### API testing

In [ ]:
# we want 'results'
# 'dates' is the day we got this info
# results are our results
# total pages is how many we can iterate through
print("Keys in Object: ", *data.keys(), "\nTotal Pages: ", str(data['total_pages']))

In [ ]:
# data of index one, keys and value
print(*data['results'][0].items())

In [ ]:
for i in (data['results']):
    for clm, dta in i.items():
        print(clm, dta)

### People List
https://developer.themoviedb.org/reference/person-popular-list

In [28]:
%%time
url = "https://api.themoviedb.org/3/person/popular?language=en-US&page=1"
p_df = df_make(url)

<Response [200]>


Number: 160590
Dataframe Done.
CPU times: user 24 s, sys: 1.59 s, total: 25.6 s
Wall time: 1min 45s

In [37]:
p_df.info()
p_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 10000 non-null  bool
 1   gender                10000 non-null  int64
 2   id                    10000 non-null  int64
 3   known_for_department  10000 non-null  object
 4   name                  10000 non-null  object
 5   original_name         10000 non-null  object
 6   popularity            10000 non-null  float64
 7   profile_path          9906 non-null   object
 8   known_for             10000 non-null  object
 9   curr_date             10000 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 713.0+ KB

,adult,gender,id,known_for_department,name,original_name,popularity,profile_path,known_for,curr_date
0,False,2,12799,Acting,Jeremy Piven,Jeremy Piven,288.000,/dHBHZRHEVBAdozGC4SWyIIP5NLh.jpg,"[{'adult': False, 'backdrop_path': '/sd4xN5xi8...",2024-01-17
1,False,2,1951129,Acting,Justin Chien,Justin Chien,243.166,/2Hwf697i22eBUUDKJPiaGfkJXM.jpg,"[{'adult': False, 'backdrop_path': '/9h15FWJFZ...",2024-01-17
2,False,1,54693,Acting,Emma Stone,Emma Stone,211.140,/3UaYw9KF4fEXRMRWhf25aGJpAW2.jpg,"[{'adult': False, 'backdrop_path': '/kmuSGNlF9...",2024-01-17
3,False,2,64295,Acting,Alan Ritchson,Alan Ritchson,210.368,/wdmLUSPEC7dXuqnjTM4NgbjvTKk.jpg,"[{'adult': False, 'backdrop_path': '/wrhLyiY7k...",2024-01-17
4,False,2,73968,Acting,Henry Cavill,Henry Cavill,197.341,/iWdKjMry5Pt7vmxU7bmOQsIUyHa.jpg,"[{'adult': False, 'backdrop_path': '/69EFgWWPF...",2024-01-17
...,...,...,...,...,...,...,...,...,...,...
9995,False,2,5811,Writing,Agenore Incrocci,Agenore Incrocci,16.325,/nVIsX7ZvqMwk3I8iGysm2P5SMy6.jpg,"[{'adult': False, 'backdrop_path': '/eoCSp75lx...",2024-01-17
9996,False,1,4460,Acting,Trine Dyrholm,Trine Dyrholm,16.321,/ntUn5eKFlQxbjPci5A99qJOjulY.jpg,"[{'adult': False, 'backdrop_path': '/dzm6sNpz9...",2024-01-17
9997,False,2,5695,Acting,Sid Haig,Sid Haig,16.321,/jhYDQvigNX3OzeIsX2KsOUPTi1y.jpg,"[{'adult': False, 'backdrop_path': '/fGTQXeEbU...",2024-01-17
9998,False,2,228466,Acting,Goro Inagaki,Goro Inagaki,16.319,/7XDSC53xpV8Pr1L2mncYQJtxymD.jpg,"[{'adult': False, 'backdrop_path': '/wi8pmuxWN...",2024-01-17
9999,False,2,94017,Acting,Kyosuke Yabe,Kyosuke Yabe,16.319,/fLyj1b956OKGlwCcJOj1vwfCHXO.jpg,"[{'adult': False, 'backdrop_path': '/43FpZytJj...",2024-01-17

In [34]:
# converting to csv file
p_df.to_csv(p_dest)

In [50]:
# 'append, replace, fail' arguments.
# index = False makes CSV not include index column
# making "known_for" column a jsondump because it was giving error since the value data types were 'dict'
p_df.to_sql('people_movie_table', engine, if_exists='replace', index=False, dtype={"known_for": sqlalchemy.types.JSON})

1000

### Movie Details
https://api.themoviedb.org/3/movie/{movie_id}

These next lines of code gather the data from the SQL tables within PostgreSQL to gather the ids of the movies into a list so we can then iterate through them, gather all the data from the movies, and put them into a large movie detail list

#### ID Data Gathering

In [21]:
trnd_sqldf = pd.read_sql_query('SELECT id from "trnd_movie_table"', engine)

In [118]:
trndid_list = list(trnd_sqldf['id'])
trndid_list

[609681,
 955916,
 848187,
 823452,
 558915,
 753342,
 866398,
 621587,
 845387,
 1214314,
 906126,
 872585,
 673593,
 572802,
 930564,
 666035,
 635910,
 792307,
 346698,
 787699,
 1155089,
 466420,
 1072876,
 507089,
 695721,
 670292,
 840430,
 1072790,
 848326,
 940721,
 1050035,
 927107,
 1040229,
 508883,
 536437,
 569094,
 915935,
 940551,
 901362,
 575264,
 1072342,
 335977,
 798362,
 335977,
 447365,
 385687,
 1211957,
 1020006,
 1022796,
 502356,
 671,
 120,
 634492,
 438631,
 848538,
 1018332,
 157336,
 597,
 986280,
 76600,
 667538,
 361743,
 1071215,
 155,
 926393,
 634649,
 846188,
 1061181,
 693134,
 11,
 1008042,
 299054,
 976573,
 972433,
 24428,
 726209,
 1163258,
 299534,
 760245,
 839369,
 720557,
 636706,
 19995,
 891699,
 414906,
 297802,
 1029575,
 1216299,
 238,
 1231668,
 666277,
 753091,
 792293,
 245891,
 269149,
 565770,
 1022789,
 850165,
 823482,
 129,
 493529,
 807172,
 1002338,
 475557,
 980489,
 1011985,
 823464,
 1207731,
 298618,
 365620,
 889675,
 27205,
 664341,
 299537,
 603,
 869760,
 299536,
 1726,
 278,
 980026,
 105,
 884605,
 855492,
 680,
 1036619,
 520758,
 121,
 678512,
 263109,
 916224,
 348,
 545611,
 272,
 605886,
 523607,
 550,
 868660,
 10625,
 313369,
 614930,
 335984,
 315635,
 945729,
 912908,
 1078556,
 122,
 22,
 1092329,
 324857,
 615656,
 640146,
 293660,
 124905,
 781732,
 951491,
 744,
 672,
 1173558,
 329,
 862,
 766507,
 98,
 70160,
 1216784,
 12445,
 976893,
 1225592,
 694,
 315162,
 372058,
 99861,
 557,
 399566,
 767,
 508442,
 1212670,
 786892,
 673,
 675,
 873,
 324552,
 453395,
 37165,
 533535,
 209112,
 1111873,
 767,
 1056437,
 679,
 800158,
 615777,
 467244,
 836972,
 324552,
 205048,
 12444,
 37165,
 62,
 1120524,
 505642,
 1071976,
 994108,
 1039516,
 205048,
 12444,
 62,
 505642,
 1071976,
 458156,
 994108,
 601,
 616037,
 727340,
 1771,
 16869,
 1160164,
 1192578,
 812037,
 181808,
 131631,
 284052,
 78,
 293167,
 109445,
 982104,
 1891,
 10138,
 626412,
 8392,
 894200,
 49051,
 13,
 333339,
 1858,
 49026,
 769,
 497698,
 564,
 665733,
 674,
 373571,
 947507,
 436270,
 944194,
 790462,
 330459,
 653346,
 496243,
 893723,
 38,
 503417,
 207703,
 383498,
 840326,
 1075794,
 118340,
 1930,
 244786,
 1210770,
 271110,
 970348,
 718930,
 106646,
 10681,
 196,
 962074,
 338953,
 447277,
 284054,
 859235,
 4935,
 744857,
 1228545,
 664413,
 315011,
 967847,
 802219,
 335983,
 12,
 974521,
 181812,
 814776,
 284053,
 9502,
 1088157,
 796185,
 862968,
 8966,
 150540,
 118,
 791373,
 240,
 747188,
 1724,
 49521,
 507086,
 1075175,
 524434,
 10191,
 920767,
 594767,
 24,
 1215417,
 974558,
 614934,
 562,
 934433,
 14160,
 218,
 897087,
 484247,
 102382,
 348350,
 286217,
 122917,
 965150,
 36657,
 72105,
 968051,
 1893,
 424,
 762430,
 285,
 18491,
 436387,
 1089737,
 772,
 807,
 9806,
 140607,
 68721,
 1213997,
 608,
 1040148,
 263115,
 87,
 280,
 283995,
 165,
 1056360,
 955555,
 242,
 577922,
 920,
 857,
 845111,
 670,
 20352,
 2062,
 559,
 9799,
 420818,
 429617,
 131634,
 329865,
 330457,
 558,
 10195,
 297762,
 254,
 661605,
 101,
 89,
 37724,
 8373,
 608,
 530915,
 60308,
 713704,
 168259,
 566525,
 87,
 1091,
 363088,
 9615,
 10195,
 297762,
 254,
 616747,
 661605,
 120467,
 1010581,
 9552,
 602,
 354912,
 804095,
 855,
 1194909,
 580489,
 508947,
 949,
 854,
 259316,
 429617,
 339403,
 102899,
 128,
 712022,
 353081,
 329865,
 57158,
 374252,
 424694,
 246655,
 640,
 949,
 854,
 419430,
 102899,
 128,
 353081,
 57158,
 106,
 954,
 374252,
 1124,
 18,
 957314,
 297761,
 882569,
 106,
 252,
 14161,
 1894,
 1132016,
 4232,
 810693,
 384018,
 14836,
 9340,
 1153706,
 937746,
 36647,
 760104,
 578,
 370172,
 897155,
 424783,
 1096197,
 820525,
 268,
 1073140,
 12429,
 1114653,
 639933,
 539,
 100402,
 1894,
 771,
 4232,
 1132016,
 1058949,
 9479,
 436969,
 370172,
 392044,
 211672,
 268,
 1114653,
 997294,
 44214,
 550988,
 1058949,
 281957,
 9479,
 436969,
 374720,
 260513,
 392044,
 1422,
 211672,
 997294,
 398818,
 44214,
 14836,
 568124,
 872906,
 724209,
 335787,
 36557,
 335,
 500,
 346364,
 374720,
 1024773,
 958006,
 1014590,
 385128,
 438148,
 799155,
 260513,
 717930,
 103,
 700391,
 36647,
 964980,
 785084,
 1422,
 1096197,
 674324,
 161,
 58,
 1024773,
 958006,
 1014590,
 385128,
 438148,
 799155,
 717930,
 103,
 700391,
 964980,
 785084,
 7305,
 674324,
 161,
 58,
 137113,
 422803,
 345,
 49046,
 697843,
 359724,
 429,
 929590,
 2756,
 868759,
 420817,
 1018,
 496450,
 324786,
 260514,
 522627,
 423,
 754,
 760774,
 507532,
 809,
 624860,
 33337,
 198663,
 170,
 93456,
 929,
 435,
 508943,
 466272,
 275,
 495764,
 528502,
 615457,
 64690,
 605,
 965571,
 1091044,
 8077,
 149,
 1108211,
 411,
 1359,
 72190,
 842675,
 10020,
 1593,
 894205,
 546554,
 301528,
 399579,
 13885,
 985939,
 13804,
 1368,
 863,
 1865,
 8810,
 283566,
 960876,
 102651,
 39514,
 536554,
 68726,
 9659,
 210577,
 646380,
 19908,
 934506,
 1271,
 345940,
 763147,
 790416,
 661374,
 152601,
 1885,
 446893,
 925263,
 585,
 214756,
 115,
 944401,
 1058620,
 1027073,
 37797,
 526896,
 177572,
 18785,
 649609,
 176,
 980078,
 1016084,
 22538,
 417859,
 10192,
 601493,
 620,
 10193,
 864168,
 1017388,
 998022,
 937249,
 402,
 13475,
 425,
 739405,
 117251,
 337339,
 843,
 1208217,
 464052,
 1576,
 135397,
 705996,
 177677,
 762504,
 77,
 240832,
 746036,
 331,
 919207,
 588228,
 1000492,
 512200,
 1039690,
 420809,
 88751,
 330,
 667216,
 11324,
 49047,
 289,
 998846,
 752,
 2502,
 389,
 938250,
 408,
 140300,
 166428,
 1059127,
 1949,
 38356,
 312221,
 454626,
 1001500,
 614479,
 1209772,
 194,
 1081662,
 6977,
 644495,
 1083862,
 62177,
 438695,
 206647,
 119450,
 216015,
 1031516,
 2048,
 598,
 41154,
 630,
 35,
 530385,
 9480,
 364,
 568160,
 82992,
 320288,
 956262,
 1032664,
 2080,
 871812,
 91314,
 13183,
 81,
 844530,
 840,
 750596,
 12155,
 4247,
 784651,
 324852,
 1495,
 555285,
 156022,
 842142,
 604,
 1131727,
 1034065,
 136799,
 447332,
 406997,
 273481,
 351286,
 968232,
 9693,
 5548,
 739901,
 938,
 579974,
 61791,
 381288,
 1113278,
 953,
 601796,
 315837,
 49538,
 945937,
 729210,
 2503,
 856289,
 888768,
 1026436,
 336843,
 8358,
 555604,
 321612,
 10198,
 287947,
 524,
 1125311,
 264660,
 503919,
 1230317,
 36658,
 565,
 1143291,
 810,
 460465,
 377,
 9360,
 15137,
 974931,
 7345,
 338952,
 861,
 9654,
 637649,
 166426,
 64682,
 8871,
 493922,
 9737,
 457232,
 76163,
 755388,
 11836,
 747,
 500664,
 26748,
 16859,
 1022655,
 830764,
 621,
 1047041,
 51497,
 1068452,
 756999,
 460458,
 432606,
 5825,
 277,
 888003,
 1012652,
 75612,
 76170,
 1927,
 1005003,
 27578,
 324668,
 8363,
 4638,
 425909,
 986054,
 933131,
 629542,
 185,
 12477,
 11224,
 1735,
 1064517,
 848723,
 7555,
 18118,
 138843,
 820609,
 758323,
 811592,
 1250,
 46195,
 296,
 225574,
 290859,
 49040,
 207,
 1007074,
 958182,
 399055,
 823395,
 748783,
 1060090,
 393,
 447362,
 568,
 585083,
 770906,
 197,
 10764,
 1369,
 567,
 476669,
 56292,
 631842,
 1143183,
 77338,
 73861,
 346709,
 457332,
 490132,
 512195,
 591,
 332562,
 213,
 36668,
 1219926,
 82702,
 4488,
 1190494,
 481848,
 1118595,
 146233,
 9335,
 36586,
 23483,
 7220,
 50619,
 251,
 509,
 337401,
 335797,
 809787,
 1547,
 60304,
 9325,
 535292,
 122906,
 274870,
 32657,
 656156,
 338970,
 381283,
 928833,
 2034,
 646389,
 9532,
 205596,
 257211,
 787,
 930094,
 20526,
 267860,
 63,
 937287,
 600,
 479455,
 1230314,
 646,
 770,
 147441,
 412117,
 1229455,
 949567,
 619803,
 977770,
 406,
 961323,
 804150,
 841,
 24021,
 2493,
 725201,
 127380,
 978870,
 939979,
 95,
 262500,
 737370,
 9331,
 10528,
 1995,
 926,
 38575,
 941,
 50646,
 1541,
 1006947,
 411614,
 533,
 87101,
 508439,
 1584,
 7443,
 812,
 1830,
 11688,
 4347,
 956,
 339846,
 958196,
 593643,
 10494,
 390043,
 964960,
 59436,
 10895,
 891,
 1181952,
 18240,
 290098,
 6479,
 49013,
 597890,
 794,
 2105,
 406759,
 676,
 18239,
 985617,
 7446,
 1062807,
 1637,
 12092,
 763165,
 651881,
 508,
 360920,
 343611,
 427641,
 947,
 437342,
 38700,
 414,
 2108,
 700,
 652,
 343668,
 67913,
 7131,
 180,
 1075978,
 815029,
 10527,
 504608,
 4951,
 1954,
 8009,
 5503,
 1572,
 537915,
 9313,
 785545,
 524047,
 17654,
 961268,
 353491,
 37135,
 76,
 136400,
 11906,
 2668,
 515001,
 335988,
 889737,
 900667,
 8536,
 9837,
 9880,
 2567,
 9361,
 87827,
 138103,
 ...]

In [115]:
up_sqldf = pd.read_sql_query('SELECT id from "up_movie_table"', engine)

In [117]:
upid_list = list(up_sqldf['id'])
upid_list

[866398,
 787699,
 508883,
 940721,
 940551,
 507089,
 1020006,
 897087,
 1072790,
 1053592,
 744857,
 621587,
 889675,
 673593,
 678512,
 792307,
 972433,
 1194153,
 508947,
 558915,
 1072342,
 1058694,
 1107979,
 1075175,
 1096197,
 438631,
 840430,
 915935,
 1026436,
 634492,
 945937,
 666277,
 942881,
 839369,
 729854,
 18,
 848538,
 798362,
 1024773,
 823482,
 823482,
 1216784,
 605886,
 626412,
 502345,
 365620,
 850165,
 1027073,
 467244,
 845111,
 890215,
 717728,
 986280,
 887870,
 997317,
 802219,
 991197,
 976893,
 913673,
 944401,
 500104,
 933131,
 994108,
 1056360,
 980026,
 970348,
 982202,
 194,
 913673,
 760774,
 985617,
 500104,
 1072371,
 995767,
 1082063,
 1221451,
 638,
 1126128,
 1058620,
 830721,
 937746,
 82695,
 779816,
 969492,
 1063879,
 962074,
 1137196,
 396194,
 1014590,
 599019,
 784651,
 1096342,
 1180196,
 836972,
 598387,
 964960,
 801112,
 899524,
 890215,
 993784,
 962074,
 1014590,
 931404,
 1171004,
 830721,
 964960,
 779816,
 1086591,
 823598,
 1175351,
 998022,
 753336,
 973778,
 836972,
 893372,
 574074,
 979097,
 958487,
 1181465,
 938250,
 1177096,
 893372,
 734002,
 1175351,
 574074,
 1001143,
 962319,
 1029654,
 1171004,
 1163953,
 1004255,
 1228545,
 900379,
 770724,
 845643,
 712022,
 1073087,
 1081680,
 995749,
 1013869,
 891933,
 1030009,
 1173076,
 1007826,
 783121,
 476928,
 1139829,
 952476,
 809910,
 958487,
 1118033,
 1192209,
 1089797,
 895959,
 642546,
 1088563,
 1134433,
 885243,
 1004284,
 1148368,
 1147596,
 712022,
 860901,
 962319,
 843617,
 601188,
 922830,
 843617,
 587563,
 1147596,
 1069193,
 1226299,
 1070032,
 1008038,
 1026380,
 1007826,
 838240,
 959098,
 1045770,
 777847,
 809910,
 845643,
 785542,
 1217409,
 785542,
 1029475,
 1219737,
 1089797,
 1115379,
 646265,
 1047917,
 435160,
 832262,
 1148237,
 962318,
 593959,
 1064802,
 989589,
 1069193,
 1214557,
 991754,
 1176848,
 1046924,
 997162,
 823491,
 1058688,
 1004304,
 968232,
 876127,
 1121956,
 1214559,
 1214502,
 1026380,
 1018247,
 1214551,
 1214554,
 1017174,
 1201052,
 954445,
 1067231,
 1070032,
 1061728,
 1149108,
 1229349,
 763144,
 1029475,
 1083103,
 1158460,
 1011301,
 1020896,
 1139238,
 53028,
 1019258,
 954445,
 1162321,
 1056133,
 796039,
 1162321,
 848439,
 1219735,
 936378,
 818861,
 1210309,
 986175,
 1213305,
 1004304,
 1067231,
 1171843,
 1017174,
 1053927,
 573952,
 1218498,
 1051379,
 913521,
 1201052,
 1019939,
 904759,
 1219676,
 1220382,
 865511,
 1123859,
 1109586,
 1148353,
 1219644,
 1214872,
 1172604,
 869886,
 1123859,
 1229488,
 1175161,
 904759,
 137366,
 1202107,
 957863,
 1208971,
 1209432,
 973912,
 1135281,
 1167813,
 1053927,
 1217389,
 1166073,
 916386,
 1019952,
 1072269,
 1219513,
 1219644,
 1059264,
 1207602,
 1056133,
 1161171,
 1213305,
 1083300,
 1219650,
 814215,
 511424,
 1171843,
 1080658,
 1202107,
 1167732,
 1160265,
 1122605,
 1219704,
 936378,
 1219529,
 1166092,
 938508,
 1172604,
 1188796,
 1224544,
 1142275,
 1170824,
 1107438,
 1227770,
 947467,
 820707,
 1219733,
 1219824,
 918101,
 1229958,
 1227924,
 1219529,
 1188796,
 947467,
 1219733,
 1139238,
 1211979,
 974397,
 1228036,
 1219708,
 1219599,
 1213778,
 1219692,
 1220400,
 1219814,
 1219719,
 1219660,
 1219581,
 1215011,
 936368,
 1142275,
 1177334,
 573952,
 1145291,
 785429,
 1131466,
 1230102,
 1219895,
 1080658,
 1114896,
 1140648,
 965292,
 1151778,
 1180598,
 1218666,
 918101,
 1077684,
 978114,
 588524,
 1211979,
 1229809,
 1128750,
 1228696,
 588564,
 1230814,
 1226306,
 1181566,
 1164506,
 1229495,
 1229827,
 1092622,
 936368,
 1148298,
 1231542,
 1053059,
 1147493,
 964851,
 1211067,
 813743,
 1147493,
 1161408,
 1228564,
 1112305,
 1011940,
 1211067,
 588564,
 938508,
 1213962,
 1058032,
 1230299,
 1174578,
 923387,
 859981,
 1181566,
 1148464,
 1229495,
 1219518,
 1214366,
 1006124,
 1208033,
 1061858,
 1122681,
 873119,
 1180598,
 1083015,
 1075182,
 1231967,
 1229444,
 1112305,
 1224412,
 1096826,
 1068773,
 1006124,
 862754,
 1011940,
 1231965,
 1218775,
 1185207,
 1231965,
 1232561,
 1232553,
 1232409,
 1198754,
 1208033,
 923387,
 859981,
 1122681,
 1061858,
 1220715,
 1229444,
 1142133,
 1229348,
 1230252,
 1230409,
 1230803,
 1224420,
 1013569,
 1185207,
 1224433,
 1220054,
 1061648,
 1233037,
 1232561,
 1232553,
 1232409,
 1230477,
 1175038,
 1225561,
 1114899,
 1210428,
 1210428,
 1233095,
 1233037,
 1232992,
 1232971,
 1232887,
 1231951,
 1230477,
 1227136,
 1212009,
 1179905,
 1230803,
 1114899]

In [119]:
movieid_list = upid_list + trndid_list
len(movieid_list)

10139

#### Movie detail gathering

This code takes up to 50 minutes

In [125]:
%%time
temp_url = 'https://api.themoviedb.org/3/movie/' # + a number for id at end of string
# https://api.themoviedb.org/3/movie/3

for i, movie in enumerate(movieid_list):
    url = temp_url + str(movie)
    headers = {
    "accept": "application/json",
    "Authorization": "Bearer {}".format(RA_KEY)
    }
    response_movdet = requests.get(url, headers=headers, params={'api_key':MDB_KEY})
    # decodes response into json object
    json_data_movdet = response_movdet.content.decode()
    # converts json object/string into python object
    data_movdet = json.loads(json_data_movdet)
    
    # making a list of the column names
    movdet_columns = [i for i in data_movdet.keys()]
    
    if i > 0:
        pass
    else:
        movedet_df = pd.DataFrame(columns=movdet_columns)
    # unpacking data from json object into the data argument, making a dataframe with set columns
    temp_movdet_df = pd.DataFrame([data_movdet.values()], columns=movdet_columns)
    movdet_df = pd.concat([movdet_df, temp_movdet_df], ignore_index=True)

CPU times: user 8min 45s, sys: 25.7 s, total: 9min 11s
Wall time: 45min 3s

In [18]:
movdet_df

,original_title,id,imdb_id,main_genre,original_language,release_date,revenue,budget,popularity,vote_average,...,overview,tagline,genres,adult,video,belongs_to_collection,spoken_languages,homepage,backdrop_path,poster_path
0,Varjoja paratiisissa,3,tt0092149,Drama,fi,1986-10-17,0.0,0.0,8.480,7.245,...,"Nikander, a rubbish collector and would-be ent...",NaN,"['Drama', 'Comedy', 'Romance']",False,False,NaN,"[{'english_name': 'English', 'iso_639_1': 'en'...",NaN,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,/nj01hspawPof0mJmlgfjuLyJuRN.jpg
1,The Beekeeper,866398,tt15314262,Action,en,2024-01-10,41626886.0,0.0,815.152,7.590,...,One man’s campaign for vengeance takes on nati...,Expose the corruption. Protect the hive.,"['Action', 'Thriller']",False,False,NaN,"[{'english_name': 'English', 'iso_639_1': 'en'...",NaN,/4MCKNAc6AbWjEsM2h9Xc29owo4z.jpg,/A7EByudX0eOzlkQ2FIbogzyazm2.jpg
2,Wonka,787699,tt6166392,Comedy,en,2023-12-06,511051633.0,125000000.0,583.941,7.092,...,Willy Wonka – chock-full of ideas and determin...,Every good thing in this world started with a ...,"['Comedy', 'Family', 'Fantasy']",False,False,NaN,"[{'english_name': 'English', 'iso_639_1': 'en'...",https://www.wonkamovie.com,/yOm993lsJyPmBodlYjgpPwBjXP9.jpg,/qhb1qOilapbapxWQn9jtRCMwXJF.jpg
3,君たちはどう生きるか,508883,tt6587046,Animation,ja,2023-07-14,151000000.0,50000000.0,558.865,7.400,...,"While the Second World War rages, the teenage ...","Where death comes to an end, life finds a new ...","['Animation', 'Adventure', 'Fantasy']",False,False,NaN,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",https://gkids.com/films/the-boy-and-the-heron/,/75nSb1fbWooipwcSU5bUttiOriI.jpg,/jDQPkgzerGophKRRn7MKm071vCU.jpg
4,ゴジラ-1.0,940721,tt23289160,Science Fiction,ja,2023-11-03,95700000.0,13000000.0,338.535,8.000,...,"In postwar Japan, a new terror rises. Will the...",Postwar Japan. From zero to minus.,"['Science Fiction', 'Horror', 'Action']",False,False,NaN,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",https://tickets.godzilla.com,/bWIIWhnaoWx3FTVXv6GkYDv3djL.jpg,/bWhNxtPlMsGBbM4ybg9C6nWnxBV.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10135,The Axe Murders of Villisca,401065,tt3320500,Horror,en,2017-01-20,0.0,0.0,5.701,4.877,...,Three ghost-hunting high-schoolers visit the M...,"In 1912, eight people were brutally murdered i...",['Horror'],False,False,NaN,"[{'english_name': 'English', 'iso_639_1': 'en'...",http://www.ifcfilms.com/films/axe-murders-of-v...,/8Z0gPcBeImWCxmgZIChcDEFjqJK.jpg,/69BB2Bp4i0LdOqtAtH5hIZiUFb3.jpg
10136,ボディガード牙,54860,tt0164699,Action,ja,1973-06-30,0.0,0.0,3.819,4.188,...,Karate master and anti-drug vigilante Chiba re...,"Sonny Chiba, hired to kill... If his kick does...","['Action', 'Thriller']",False,False,"{'id': 1083020, 'name': 'Karate Kiba Collectio...","[{'english_name': 'Japanese', 'iso_639_1': 'ja...",NaN,/8eRYHoGRCh5SSnkbEttgBrOvwcH.jpg,/bECtwslT7z8uS0Y7ahFfidIXO0m.jpg
10137,My Sister's Serial Killer Boyfriend,1066205,tt20872796,Thriller,en,2023-01-08,0.0,0.0,3.012,8.500,...,"Maddie, a local reporter investigating a serie...",NaN,"['Thriller', 'TV Movie']",False,False,NaN,"[{'english_name': 'English', 'iso_639_1': 'en'...",https://www.mylifetime.com/movies/my-sisters-s...,/20ZansYII7VciPyNXWegcipOl5a.jpg,/9CMMTffmuzaK8Lx8TBYk6qTTSyZ.jpg
10138,Frenzy,542787,tt8805150,Horror,en,2018-08-15,0.0,0.0,8.778,3.750,...,A group of friends run a popular travel vlog t...,Survival is her only option,"['Horror', 'Thriller', 'TV Movie']",False,False,NaN,"[{'english_name': 'English', 'iso_639_1': 'en'...",NaN,/wCLbSw3hSQBB0iwruUzuDvMq37D.jpg,/iQxV2OLz1Y8NiC8HWeD5uYu14iH.jpg
10139,On a retrouvé la 7ème compagnie,401306,tt0075007,Action,fr,1975-12-10,0.0,0.0,5.582,7.337,...,The second part of the Seventh Company adventu...,NaN,"['Action', 'Comedy', 'War']",False,False,"{'id': 93287, 'name': 'Seventh Company Collect...","[{'english_name': 'Czech', 'iso_639_1': 'cs', ...",NaN,/A4y042gs23VFq0vi1TPOqX4HDYx.jpg,/6df3QdLZc5xCOvGekKn5gzPYNiY.jpg

#### data cleansing and exporting

In [138]:
# dropping unnessary columns
movdet_df.drop(columns=['success', 'status_code', 'status_message'], inplace=True)
# changing datatypes 
movdet_df['release_date'] = pd.to_datetime(movdet_df['release_date'])
movdet_df['video'] = movdet_df['video'].astype(bool)
movdet_df['id'] = movdet_df['id'].fillna(0).astype(int)
# dropping na values for proper data cleansing
movdet_df.dropna(subset=['genres'], inplace=True)
# taking 'genres' column and extracting the ids and 
# putting them into the list within the same column
movdet_df['genres'] = movdet_df['genres'].apply(lambda x: [i['id'] for i in x] if len(x) > 0 else x)
# changing those ids into names of genres
movdet_df["genres"] = movdet_df["genres"].apply(lambda x: [genre_result[i] for i in x] if isinstance(x, list) else x)
# extracting first genre and putting it into new column 'main_genre'
movdet_df['main_genre'] = movdet_df['genres'].apply(lambda x: x[0] if len(x)>0 else x)
# reorganizing columns
movdet_df = movdet_df[['original_title', 'id', 'imdb_id', 'main_genre', 'original_language', 'release_date', 
                       'revenue', 'budget', 'popularity', 'vote_average', 'vote_count', 'runtime', 'status',
                       'production_companies', 'production_countries', 'overview', 'tagline', 'genres', 'adult', 'video', 
                       'belongs_to_collection', 'spoken_languages', 'homepage', 'backdrop_path', 'poster_path']]
# gathering current date
movdet_df['curr_date'] = datetime.date.today().strftime("%Y-%m-%d")
# converting to pandas datetime type 
movdet_df['curr_date'] = pd.to_datetime(movdet_df['curr_date'])

In [12]:
movdet_df = pd.read_csv('../CSV/movie_detail.csv', index_col=0)

In [13]:
movdet_df.info()
movdet_df

<class 'pandas.core.frame.DataFrame'>
Index: 10138 entries, 0 to 10139
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   original_title         10138 non-null  object
 1   id                     10138 non-null  int64
 2   imdb_id                9889 non-null   object
 3   main_genre             10138 non-null  object
 4   original_language      10138 non-null  object
 5   release_date           10122 non-null  object
 6   revenue                10138 non-null  float64
 7   budget                 10138 non-null  float64
 8   popularity             10138 non-null  float64
 9   vote_average           10138 non-null  float64
 10  vote_count             10138 non-null  float64
 11  runtime                10138 non-null  float64
 12  status                 10138 non-null  object
 13  production_companies   10138 non-null  object
 14  production_countries   10138 non-null  object
 15  overview               9994 non-null   object
 16  tagline                7398 non-null   object
 17  genres                 10138 non-null  object
 18  adult                  10138 non-null  bool
 19  video                  10138 non-null  bool
 20  belongs_to_collection  2665 non-null   object
 21  spoken_languages       10138 non-null  object
 22  homepage               4169 non-null   object
 23  backdrop_path          10138 non-null  object
 24  poster_path            10137 non-null  object
 25  curr_date              10138 non-null  object
dtypes: bool(2), float64(6), int64(1), object(17)
memory usage: 2.0+ MB

,original_title,id,imdb_id,main_genre,original_language,release_date,revenue,budget,popularity,vote_average,...,tagline,genres,adult,video,belongs_to_collection,spoken_languages,homepage,backdrop_path,poster_path,curr_date
0,Varjoja paratiisissa,3,tt0092149,Drama,fi,1986-10-17,0.0,0.0,8.480,7.245,...,NaN,"['Drama', 'Comedy', 'Romance']",False,False,NaN,"[{'english_name': 'English', 'iso_639_1': 'en'...",NaN,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,2024-01-19
1,The Beekeeper,866398,tt15314262,Action,en,2024-01-10,41626886.0,0.0,815.152,7.590,...,Expose the corruption. Protect the hive.,"['Action', 'Thriller']",False,False,NaN,"[{'english_name': 'English', 'iso_639_1': 'en'...",NaN,/4MCKNAc6AbWjEsM2h9Xc29owo4z.jpg,/A7EByudX0eOzlkQ2FIbogzyazm2.jpg,2024-01-19
2,Wonka,787699,tt6166392,Comedy,en,2023-12-06,511051633.0,125000000.0,583.941,7.092,...,Every good thing in this world started with a ...,"['Comedy', 'Family', 'Fantasy']",False,False,NaN,"[{'english_name': 'English', 'iso_639_1': 'en'...",https://www.wonkamovie.com,/yOm993lsJyPmBodlYjgpPwBjXP9.jpg,/qhb1qOilapbapxWQn9jtRCMwXJF.jpg,2024-01-19
3,君たちはどう生きるか,508883,tt6587046,Animation,ja,2023-07-14,151000000.0,50000000.0,558.865,7.400,...,"Where death comes to an end, life finds a new ...","['Animation', 'Adventure', 'Fantasy']",False,False,NaN,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",https://gkids.com/films/the-boy-and-the-heron/,/75nSb1fbWooipwcSU5bUttiOriI.jpg,/jDQPkgzerGophKRRn7MKm071vCU.jpg,2024-01-19
4,ゴジラ-1.0,940721,tt23289160,Science Fiction,ja,2023-11-03,95700000.0,13000000.0,338.535,8.000,...,Postwar Japan. From zero to minus.,"['Science Fiction', 'Horror', 'Action']",False,False,NaN,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",https://tickets.godzilla.com,/bWIIWhnaoWx3FTVXv6GkYDv3djL.jpg,/bWhNxtPlMsGBbM4ybg9C6nWnxBV.jpg,2024-01-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10135,The Axe Murders of Villisca,401065,tt3320500,Horror,en,2017-01-20,0.0,0.0,5.701,4.877,...,"In 1912, eight people were brutally murdered i...",['Horror'],False,False,NaN,"[{'english_name': 'English', 'iso_639_1': 'en'...",http://www.ifcfilms.com/films/axe-murders-of-v...,/8Z0gPcBeImWCxmgZIChcDEFjqJK.jpg,/69BB2Bp4i0LdOqtAtH5hIZiUFb3.jpg,2024-01-19
10136,ボディガード牙,54860,tt0164699,Action,ja,1973-06-30,0.0,0.0,3.819,4.188,...,"Sonny Chiba, hired to kill... If his kick does...","['Action', 'Thriller']",False,False,"{'id': 1083020, 'name': 'Karate Kiba Collectio...","[{'english_name': 'Japanese', 'iso_639_1': 'ja...",NaN,/8eRYHoGRCh5SSnkbEttgBrOvwcH.jpg,/bECtwslT7z8uS0Y7ahFfidIXO0m.jpg,2024-01-19
10137,My Sister's Serial Killer Boyfriend,1066205,tt20872796,Thriller,en,2023-01-08,0.0,0.0,3.012,8.500,...,NaN,"['Thriller', 'TV Movie']",False,False,NaN,"[{'english_name': 'English', 'iso_639_1': 'en'...",https://www.mylifetime.com/movies/my-sisters-s...,/20ZansYII7VciPyNXWegcipOl5a.jpg,/9CMMTffmuzaK8Lx8TBYk6qTTSyZ.jpg,2024-01-19
10138,Frenzy,542787,tt8805150,Horror,en,2018-08-15,0.0,0.0,8.778,3.750,...,Survival is her only option,"['Horror', 'Thriller', 'TV Movie']",False,False,NaN,"[{'english_name': 'English', 'iso_639_1': 'en'...",NaN,/wCLbSw3hSQBB0iwruUzuDvMq37D.jpg,/iQxV2OLz1Y8NiC8HWeD5uYu14iH.jpg,2024-01-19
10139,On a retrouvé la 7ème compagnie,401306,tt0075007,Action,fr,1975-12-10,0.0,0.0,5.582,7.337,...,NaN,"['Action', 'Comedy', 'War']",False,False,"{'id': 93287, 'name': 'Seventh Company Collect...","[{'english_name': 'Czech', 'iso_639_1': 'cs', ...",NaN,/A4y042gs23VFq0vi1TPOqX4HDYx.jpg,/6df3QdLZc5xCOvGekKn5gzPYNiY.jpg,2024-01-19

In [10]:
movdet_df.to_sql('movie_detail_table', engine, if_exists='replace', index=False)

138

In [11]:
movdet_df.to_csv(movdet_dest)

#### temporary dataframe testing

In [261]:
# making a copy to not lose the data for transformation testing
mov_df = movdet_df.copy()

In [311]:
mov_df.dropna(subset=['genres'], inplace=True)
mov_df['genres'] = mov_df['genres'].apply(lambda x: [i['id'] for i in x] if len(x) > 0 else x)
mov_df["genres"] = mov_df["genres"].apply(lambda x: [genre_result[i] for i in x] if isinstance(x, list) else x)
mov_df['main_genre'] = mov_df['genres'].apply(lambda x: x[0] if len(x)>0 else x)

In [320]:
mov_df

,original_title,id,imdb_id,genres,original_language,release_date,revenue,budget,popularity,vote_average,...,tagline,adult,video,belongs_to_collection,spoken_languages,homepage,backdrop_path,poster_path,test,main_genre
0,Varjoja paratiisissa,3,tt0092149,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",fi,1986-10-17,0.0,0.0,8.480,7.245,...,,False,False,None,"[{'english_name': 'English', 'iso_639_1': 'en'...",,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,"[Drama, Comedy, Romance]",Drama
1,The Beekeeper,866398,tt15314262,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",en,2024-01-10,41626886.0,0.0,815.152,7.590,...,Expose the corruption. Protect the hive.,False,False,None,"[{'english_name': 'English', 'iso_639_1': 'en'...",,/4MCKNAc6AbWjEsM2h9Xc29owo4z.jpg,/A7EByudX0eOzlkQ2FIbogzyazm2.jpg,"[Action, Thriller]",Action
2,Wonka,787699,tt6166392,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",en,2023-12-06,511051633.0,125000000.0,583.941,7.092,...,Every good thing in this world started with a ...,False,False,None,"[{'english_name': 'English', 'iso_639_1': 'en'...",https://www.wonkamovie.com,/yOm993lsJyPmBodlYjgpPwBjXP9.jpg,/qhb1qOilapbapxWQn9jtRCMwXJF.jpg,"[Comedy, Family, Fantasy]",Comedy
3,君たちはどう生きるか,508883,tt6587046,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",ja,2023-07-14,151000000.0,50000000.0,558.865,7.400,...,"Where death comes to an end, life finds a new ...",False,False,None,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",https://gkids.com/films/the-boy-and-the-heron/,/75nSb1fbWooipwcSU5bUttiOriI.jpg,/jDQPkgzerGophKRRn7MKm071vCU.jpg,"[Animation, Adventure, Fantasy]",Animation
4,ゴジラ-1.0,940721,tt23289160,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",ja,2023-11-03,95700000.0,13000000.0,338.535,8.000,...,Postwar Japan. From zero to minus.,False,False,None,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",https://tickets.godzilla.com,/bWIIWhnaoWx3FTVXv6GkYDv3djL.jpg,/bWhNxtPlMsGBbM4ybg9C6nWnxBV.jpg,"[Science Fiction, Horror, Action]",Science Fiction
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10135,The Axe Murders of Villisca,401065,tt3320500,"[{'id': 27, 'name': 'Horror'}]",en,2017-01-20,0.0,0.0,5.701,4.877,...,"In 1912, eight people were brutally murdered i...",False,False,None,"[{'english_name': 'English', 'iso_639_1': 'en'...",http://www.ifcfilms.com/films/axe-murders-of-v...,/8Z0gPcBeImWCxmgZIChcDEFjqJK.jpg,/69BB2Bp4i0LdOqtAtH5hIZiUFb3.jpg,[Horror],Horror
10136,ボディガード牙,54860,tt0164699,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",ja,1973-06-30,0.0,0.0,3.819,4.188,...,"Sonny Chiba, hired to kill... If his kick does...",False,False,"{'id': 1083020, 'name': 'Karate Kiba Collectio...","[{'english_name': 'Japanese', 'iso_639_1': 'ja...",,/8eRYHoGRCh5SSnkbEttgBrOvwcH.jpg,/bECtwslT7z8uS0Y7ahFfidIXO0m.jpg,"[Action, Thriller]",Action
10137,My Sister's Serial Killer Boyfriend,1066205,tt20872796,"[{'id': 53, 'name': 'Thriller'}, {'id': 10770,...",en,2023-01-08,0.0,0.0,3.012,8.500,...,,False,False,None,"[{'english_name': 'English', 'iso_639_1': 'en'...",https://www.mylifetime.com/movies/my-sisters-s...,/20ZansYII7VciPyNXWegcipOl5a.jpg,/9CMMTffmuzaK8Lx8TBYk6qTTSyZ.jpg,"[Thriller, TV Movie]",Thriller
10138,Frenzy,542787,tt8805150,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",en,2018-08-15,0.0,0.0,8.778,3.750,...,Survival is her only option,False,False,None,"[{'english_name': 'English', 'iso_639_1': 'en'...",,/wCLbSw3hSQBB0iwruUzuDvMq37D.jpg,/iQxV2OLz1Y8NiC8HWeD5uYu14iH.jpg,"[Horror, Thriller, TV Movie]",Horror
10139,On a retrouvé la 7ème compagnie,401306,tt0075007,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",fr,1975-12-10,0.0,0.0,5.582,7.337,...,,False,False,"{'id': 93287, 'name': 'Seventh Company Collect...","[{'english_name': 'Czech', 'iso_639_1': 'cs', ...",,/A4y042gs23VFq0vi1TPOqX4HDYx.jpg,/6df3QdLZc5xCOvGekKn5gzPYNiY.jpg,"[Action, Comedy, War]",Action

In [325]:
mov_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10138 entries, 0 to 10139
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   original_title         10138 non-null  object
 1   id                     10138 non-null  int64
 2   imdb_id                9913 non-null   object
 3   genres                 10138 non-null  object
 4   original_language      10138 non-null  object
 5   release_date           10122 non-null  datetime64[ns]
 6   revenue                10138 non-null  float64
 7   budget                 10138 non-null  float64
 8   popularity             10138 non-null  float64
 9   vote_average           10138 non-null  float64
 10  vote_count             10138 non-null  float64
 11  runtime                10138 non-null  float64
 12  status                 10138 non-null  object
 13  production_companies   10138 non-null  object
 14  production_countries   10138 non-null  object
 15  overview               10138 non-null  object
 16  tagline                10138 non-null  object
 17  adult                  10138 non-null  object
 18  video                  10138 non-null  bool
 19  belongs_to_collection  2665 non-null   object
 20  spoken_languages       10138 non-null  object
 21  homepage               10138 non-null  object
 22  backdrop_path          10138 non-null  object
 23  poster_path            10137 non-null  object
 24  test                   10138 non-null  object
 25  main_genre             10138 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(6), int64(1), object(17)
memory usage: 2.0+ MB

##### data testing

In [150]:
# short films
mov_df[mov_df['video'] == True]

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
1312,False,/sLdlUypLzpQiJvO2dmqx5J7rigP.jpg,None,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",https://epic-pictures.com/film/the-jester,1118595.0,tt26533869,en,The Jester,...,2023-09-20,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Now you see me. Now you die.,The Jester,True,6.300,140.0
1708,False,/9RcOYqtxBWq64yIcztZvbGgZDmH.jpg,"{'id': 1575, 'name': 'Rocky Collection', 'post...",17000000.0,"[{'id': 18, 'name': 'Drama'}]",https://www.mgm.com/movies/rocky-iii,1371.0,tt0084602,en,Rocky III,...,1982-05-28,270000000.0,99.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The greatest challenge.,Rocky III,True,6.883,3853.0
1960,False,/yrub7xoQdtjwJfW7t9UX1DSvKlr.jpg,None,0.0,"[{'id': 28, 'name': 'Action'}]",https://www.ufc.com/event/ufc-fight-night-janu...,1219443.0,None,en,UFC Fight Night 234: Ankalaev vs. Walker 2,...,2024-01-13,0.0,0.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,UFC Fight Night 234: Ankalaev vs. Walker 2,True,4.000,1.0
2300,False,/4oexfpeZrrWdeNVrHj3tYGhat4i.jpg,None,0.0,"[{'id': 10402, 'name': 'Music'}]",,468591.0,tt1421377,en,Queen: Rock Montreal & Live Aid,...,2007-12-04,0.0,138.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Queen: Rock Montreal & Live Aid,True,8.000,23.0
2628,False,/lqxlb5gzbqT9xZUtlgD9wSKxthU.jpg,None,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",https://movies.disney.com/pixar-short-films-co...,288767.0,tt4439852,en,Pixar Short Films Collection: Volume 1,...,2007-03-21,0.0,75.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Pixar Short Films Collection: Volume 1,True,7.800,83.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9886,False,/tFDeNb0hL5RPZTwAJe0Bf6lQoME.jpg,None,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",http://www.wwe.com/shows/unforgiven/2002,215921.0,tt0337745,en,WWE Unforgiven 2002,...,2002-09-22,0.0,180.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The Next Big Thing has Arrived,WWE Unforgiven 2002,True,6.200,4.0
9916,False,/ng2054gD4ecCrXNb8zEv0nnRrmh.jpg,None,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 14, '...",,24678.0,tt0372866,en,Disney's American Legends,...,2001-02-12,0.0,58.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Disney's American Legends,True,7.600,17.0
10061,False,/ytVchhli9ihOP5mjwXmhhNYDhkz.jpg,None,0.0,"[{'id': 16, 'name': 'Animation'}]",,317193.0,,en,Looney Tunes Platinum Collection: Volume One,...,2011-11-15,0.0,357.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Looney Tunes Platinum Collection: Volume One,True,8.800,10.0
10070,False,/gcmJahI7l99vM0XpusQiJUXQb6h.jpg,"{'id': 123694, 'name': 'Timon and Pumbaa Colle...",0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",,40697.0,tt7332266,en,Dining Out with Timon & Pumbaa,...,1996-09-17,0.0,65.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,,Dining Out with Timon & Pumbaa,True,6.200,34.0
10084,False,/jzmKe9RNrRHo5F7IggUDjc6DrpA.jpg,None,0.0,"[{'id': 16, 'name': 'Animation'}]",,338088.0,,en,Looney Tunes Platinum Collection: Volume Three,...,2014-08-12,0.0,344.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Looney Tunes Platinum Collection: Volume Three,True,9.400,7.0

In [301]:
# finding value_counts of data types in dataframe
counts = mov_df['genres'].apply(type).value_counts()
counts

genres
<class 'list'>    10138
Name: count, dtype: int64

In [255]:
mov_df['genres'][0]

[{'id': 18, 'name': 'Drama'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10749, 'name': 'Romance'}]

In [250]:
for i in mov_df['genres'][0]:
    for x in i.values():
        if isinstance(x ,int):
            print(x)

18
35
10749